#### What Require Inputs in this Notebook
1. [Fill in File Input](#Load-in-Data)
2. [Right or Left Hand](#Right-or-Left-Hand)
3. [Output ShotCSV](#Output-ShotCSV)
4. [Change to atNet (by Player) from tagger later](#At-Net)
5. [EDA and get Stats Here](#EDA)
6. [Output PointCSV for Visuals](#PRINT-POINTCSV-VISUALS)
7. [Output PointCSV for Upload](#Print-POINTCSV-UPLOAD)

# Table of Contents
1. [Load in Data](#Load-in-Data)
- Error Checking
- Add Columns
- [Output ShotCSV](#Output-ShotCSV)
2. [Create Point DF](#Create-Point-DF)
- Add Columns
- [Output PointCSV for Visuals](#PRINT-POINTCSV-VISUALS)
- [Output PointCSV for Upload](#Print-POINTCSV-UPLOAD)    
        - cut out points with no timestamp position    
        - atNetPlayer1 has values of the player name for display purposes instead of boolean values

# [Click for Summary Stats and EDA HERE](#EDA)

# TODO

###  Cameryn 
[Depth Count for each Point](#Add-Columns:-Depths-Count-(Short,-Deep))

[EDA for Depth of GroundStrokes](#EDA)

### Angelo 
[Change atNetPlayer to be aggregated from Coordinate Data](#Add-Column:-atNetPlayer1,-atNetPlayer2)
- atNetPlayer1 and atNetPlayer2 change to be aggreated from x and y coordinates
- Look into if isVolley column can be determined if the shotLocation and shotContact are close too each other

### (Insert Name)
[Change isApproach to be aggregatead from Coordinate Data](#Add-Column:-isAprroach)
- see if the next consecutive shotInRally coordinates are further up into the court

### Hyun
[Make a Condensed Report](#CONDENSED-REPORT-NEEDS-UPDATE)


### Add Error Checks
#### Add Error check to output rows where firstServeIn == NA and secondServeIn == NA AND is not a Double Falue

# Reorder csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
your_file_name = '(Cleaned)Rudy Quan vs Yuta Shimizu Little Rock.csv'
shot_data = pd.read_csv(your_file_name)

In [3]:
# Check existing columns
shot_data.columns

Index(['pointScore', 'gameScore', 'setScore', 'isPointStart', 'pointStartTime',
       'isPointEnd', 'pointEndTime', 'pointNumber', 'isBreakPoint',
       'shotInRally', 'side', 'serverName', 'serverFarNear', 'firstServeIn',
       'firstServeZone', 'firstServeXCoord', 'firstServeYCoord',
       'secondServeIn', 'secondServeZone', 'secondServeXCoord',
       'secondServeYCoord', 'isAce', 'shotContactX', 'shotContactY',
       'shotDirection', 'shotFhBh', 'isSlice', 'isVolley', 'isOverhead',
       'isApproach', 'isDropshot', 'isExcitingPoint', 'atNetPlayer1',
       'atNetPlayer2', 'isLob', 'shotLocationX', 'shotLocationY', 'isWinner',
       'isErrorWideR', 'isErrorWideL', 'isErrorNet', 'isErrorLong',
       'clientTeam', 'Date', 'Division', 'Event', 'lineupPosition',
       'matchDetails', 'matchVenue', 'opponentTeam', 'player1Name',
       'player2Name', 'player1Hand', 'player2Hand', 'Round', 'Surface',
       'Notes'],
      dtype='object')

In [4]:
desired_order = ['pointScore', 'gameScore', 'setScore', 'isPointStart', 'pointStartTime',
       'isPointEnd', 'pointEndTime', 'pointNumber', 'isBreakPoint',
       'shotInRally', 'side', 'serverName', 'serverFarNear', 'firstServeIn',
       'firstServeZone', 'firstServeXCoord', 'firstServeYCoord',
       'secondServeIn', 'secondServeZone', 'secondServeXCoord',
       'secondServeYCoord', 'isAce', 'shotContactX', 'shotContactY',
       'shotDirection', 'shotFhBh', 'isSlice', 'isVolley', 'isOverhead',
       'isApproach', 'isDropshot', 'isExcitingPoint', 'atNetPlayer1',
       'atNetPlayer2', 'isLob', 'shotLocationX', 'shotLocationY', 'isWinner',
       'isErrorWideR', 'isErrorWideL', 'isErrorNet', 'isErrorLong',
       'clientTeam', 'Date', 'Division', 'Event', 'lineupPosition',
       'matchDetails', 'matchVenue', 'opponentTeam', 'player1Name',
       'player2Name', 'player1Hand', 'player2Hand', 'Round', 'Surface',
       'Notes']

shot_data = shot_data.reindex(columns=desired_order)

In [5]:
# Save point_df to CSV file

# Assuming point_df is your DataFrame and player1Name and player2Name are the names from the first row
player1NameNoSpace = shot_data.iloc[0]['player1Name'].replace(" ", "")
player2NameNoSpace = shot_data.iloc[0]['player2Name'].replace(" ", "")

# Save DataFrame to CSV file with modified player names
shot_data.to_csv(f'(Cleaning) {player1NameNoSpace}_{player2NameNoSpace}.csv', index=False)

AttributeError: 'numpy.float64' object has no attribute 'replace'

In [ ]:
shot_data["player1Name"]

# Notebook Start

### Load in Data

In [6]:
import pandas as pd
import numpy as np

In [7]:
# Put your Uncleaned .csv file name here
your_file_name ='(Cleaned)Rudy Quan vs Yuta Shimizu Little Rock.csv'
shot_data = pd.read_csv(your_file_name)

In [8]:
# Check existing columns
shot_data.columns

Index(['pointScore', 'gameScore', 'setScore', 'isPointStart', 'pointStartTime',
       'isPointEnd', 'pointEndTime', 'pointNumber', 'isBreakPoint',
       'shotInRally', 'side', 'serverName', 'serverFarNear', 'firstServeIn',
       'firstServeZone', 'firstServeXCoord', 'firstServeYCoord',
       'secondServeIn', 'secondServeZone', 'secondServeXCoord',
       'secondServeYCoord', 'isAce', 'shotContactX', 'shotContactY',
       'shotDirection', 'shotFhBh', 'isSlice', 'isVolley', 'isOverhead',
       'isApproach', 'isDropshot', 'isExcitingPoint', 'atNetPlayer1',
       'atNetPlayer2', 'isLob', 'shotLocationX', 'shotLocationY', 'isWinner',
       'isErrorWideR', 'isErrorWideL', 'isErrorNet', 'isErrorLong',
       'clientTeam', 'Date', 'Division', 'Event', 'lineupPosition',
       'matchDetails', 'matchVenue', 'opponentTeam', 'player1Name',
       'player2Name', 'player1Hand', 'player2Hand', 'Round', 'Surface',
       'Notes'],
      dtype='object')

In [9]:
desired_order = ['pointScore', 'gameScore', 'setScore', 'isPointStart', 'pointStartTime',
       'isPointEnd', 'pointEndTime', 'pointNumber', 'isBreakPoint',
       'shotInRally', 'side', 'serverName', 'serverFarNear', 'firstServeIn',
       'firstServeZone', 'firstServeXCoord', 'firstServeYCoord',
       'secondServeIn', 'secondServeZone', 'secondServeXCoord',
       'secondServeYCoord', 'isAce', 'shotContactX', 'shotContactY',
       'shotDirection', 'shotFhBh', 'isSlice', 'isVolley', 'isOverhead',
       'isApproach', 'isDropshot', 'isExcitingPoint', 'atNetPlayer1',
       'atNetPlayer2', 'isLob', 'shotLocationX', 'shotLocationY', 'isWinner',
       'isErrorWideR', 'isErrorWideL', 'isErrorNet', 'isErrorLong',
       'clientTeam', 'Date', 'Division', 'Event', 'lineupPosition',
       'matchDetails', 'matchVenue', 'opponentTeam', 'player1Name',
       'player2Name', 'player1Hand', 'player2Hand', 'Round', 'Surface',
       'Notes']

shot_data = shot_data.reindex(columns=desired_order)

### Manually fill in meta data

In [10]:
# Fill in meta data
shot_data['clientTeam'] = 'UCLA'
shot_data['Date'] = '5/31/24'
shot_data['Division'] = ''
shot_data['Event'] = 'Little Rock Challenger'
shot_data['lineupPosition'] = ''
shot_data['matchDetails'] = ''
shot_data['matchVenue'] = ''
shot_data['opponentTeam'] = ''
shot_data['player1Name'] = 'Rudy Quan'
shot_data['player2Name'] = 'Yuta Shimizu'
shot_data['player1Hand'] = 'Right'
shot_data['player2Hand'] = 'Left'
shot_data['Round'] = 'Quarter-final'
shot_data['Surface'] = 'Hard'
shot_data['Notes'] = ''

### Assign Player Names

In [11]:
player1_new_name = shot_data['player1Name'].iloc[0]
player2_new_name = shot_data['player2Name'].iloc[0]

# Replace values in the serverName column
shot_data['serverName'] = shot_data['serverName'].replace({'Player1': player1_new_name, 'Player2': player2_new_name})

In [12]:
shot_data['serverName'].unique()

array(['Rudy Quan', 'Yuta Shimizu'], dtype=object)

## Error Check 1:
#### Check that Player1Name and Player2Name have values

In [13]:
# fillInPlayer1Name = "Choose_Player1Name_Here"
# fillInPlayer2Name = "Choose_Player2Name_Here"

if shot_data.at[0, 'player1Name'] == None:
    print("player1Name was blank. Filling with 'fillInplayer1Name'")
    shot_data.at[0, 'player1Name'] = fillInPlayer1Name
else:
    print("Check Passed: player1Name is not blank. Current value:", shot_data.at[0, 'player1Name'])

# Check if player2Name is blank, if so, fill it with 'fillInplayer2Name'
if shot_data.at[0, 'player2Name'] == None:
    print("player2Name was blank. Filling with 'fillInplayer2Name'")
    shot_data.at[0, 'player2Name'] = fillInPlayer2Name
else:
    print("Check Passed: player2Name is not blank. Current value:", shot_data.at[0, 'player2Name'])

Check Passed: player1Name is not blank. Current value: Rudy Quan
Check Passed: player2Name is not blank. Current value: Yuta Shimizu

## Error Check 2:
#### Check if there are missing 'Deuce' or 'Ad' sides in side column

In [14]:
# Filter out rows with 'side' values other than 'Deuce' and 'Ad'
filtered_data = shot_data[shot_data['side'].isin(['Deuce', 'Ad'])]

# Rows that don't meet the condition
rows_not_meeting_condition = shot_data[~shot_data['side'].isin(['Deuce', 'Ad'])]

# Count of rows not meeting the condition
count_rows_not_meeting_condition = len(rows_not_meeting_condition)

print("Rows with Side that aren't Deuce or Ad:", count_rows_not_meeting_condition)

# Output rows if you want to see which rows
print("Rows not meeting the condition:")
print(rows_not_meeting_condition[['pointScore', 'gameScore', 'setScore','side', 'shotInRally']])

Rows with Side that aren't Deuce or Ad: 0
Rows not meeting the condition:
Empty DataFrame
Columns: [pointScore, gameScore, setScore, side, shotInRally]
Index: []

## Error Check 3: 
#### Fills in PointNumber if not there

In [15]:
 # Check if both conditions passed
if 'pointNumber' in shot_data.columns and not shot_data['pointNumber'].isnull().any() and shot_data['pointNumber'].is_monotonic_increasing:
    print("Check Passed: Point Numbers already exist")


# Check if pointNumber exists for every row and is not empty
if 'pointNumber' not in shot_data.columns or shot_data['pointNumber'].isnull().any():
    # Execute the script to calculate pointNumber
    point_starts = (shot_data['isPointStart'] == 1)
    shot_data['pointNumber'] = point_starts.cumsum()
    
    print("Data had missing point numbers. They were filled in automatically")
    
# Check if pointNumber is in increasing order
if not shot_data['pointNumber'].is_monotonic_increasing:
    # Print the condition failure if the 'pointNumber' column is not in increasing order
    print("Data had point numbers in the wrong order. They were filled in automatically")
    point_starts = (shot_data['isPointStart'] == 1)
    shot_data['pointNumber'] = point_starts.cumsum()

Data had missing point numbers. They were filled in automatically

In [16]:
missing_pointNumber_rows = shot_data[shot_data['pointNumber'].isnull()]

# Check if there are missing rows
if len(missing_pointNumber_rows) == 0:
    print("Check Passed: All rows have pointNumber")
else:
    print(f"Count of rows missing 'pointNumber': {len(missing_pointNumber_rows)}")

Check Passed: All rows have pointNumber

## Add Column:
#### player1Hand, player2Hand

In [17]:
# fillInplayer1Hand = "Right"
# fillInplayer2Hand = "Right"

# Check if player1Hand key exists in shot_data, if not, create it
if 'player1Hand' not in shot_data:
    shot_data['player1Hand'] = None

# Check if player2Hand key exists in shot_data, if not, create it
if 'player2Hand' not in shot_data:
    shot_data['player2Hand'] = None

if shot_data.at[0, 'player1Hand'] == None:
    print("player1Hand was blank. Filling with 'fillInplayer1Hand'")
    shot_data.at[0, 'player1Hand'] = fillInplayer1Hand
else:
    print("Check Passed: player1Hand is not blank. Current value:", shot_data.at[0, 'player1Hand'])

# Check if player2Hand is blank, if so, fill it with 'fillInplayer2Hand'
if shot_data.at[0, 'player2Hand'] == None:
    print("player2Hand was blank. Filling with 'fillInplayer2Hand'")
    shot_data.at[0, 'player2Hand'] = fillInplayer2Hand
else:
    print("Check Passed: player2Hand is not blank. Current value:", shot_data.at[0, 'player2Hand'])


print("Player1Hand Current value:", shot_data.at[0, 'player1Hand'])
print("Player2Hand Current value:", shot_data.at[0, 'player2Hand'])

Check Passed: player1Hand is not blank. Current value: Right
Check Passed: player2Hand is not blank. Current value: Left
Player1Hand Current value: Right
Player2Hand Current value: Left

### Filling Columns: Forward Fill
- 'gameScore'
- 'setScore'
- 'serverName'
- 'player1Name',
- 'player2Name'
- 'player2Hand'

# Forward Fill GameScore, SetScore, tiebreakScore, serverName, player1Name, player2Name

In [18]:
columns_to_fill = ['gameScore','setScore', 'serverName', 'player1Name', 'player2Name', 'player1Hand', 'player2Hand'] 

for column in columns_to_fill:
    shot_data[column].replace(['', 'na'], pd.NaT, inplace=True)
    shot_data[column] = shot_data[column].ffill()

## Error Check 4: 
#### Check for NA's

- all 0, except missing pointScore should match amount of tiebreak shots
- side can have missing, for old tagger and not tagging side of each shot

### Fixing:
- Open CSV in __Google Sheets__ (Excel will change to date format), output game, set, point Score of missing values. Then find in google sheets, adjust, redownload, and re-upload into notebook

In [19]:
# Count empty strings in each column
empty_string_counts = (shot_data == "").sum()

# Filter out columns with zero empty strings
non_zero_counts = empty_string_counts[empty_string_counts > 0]

# Count NaN values in 'pointScore' column when 'gameScore' is '6-6'
na_tiebreak_count = shot_data.loc[shot_data['gameScore'] == '6-6', 'pointScore'].isna().sum()

side_na_count = shot_data.loc[shot_data['isPointStart'] == 1, 'side'].isna().sum()
print("\nCount of NaN values for 'side' on Point Start:", side_na_count)

# Display the count
# print("\nCount of Nan when gameScore is '6-6' (# tiebreak shots):", na_tiebreak_count)


# Count NaN or empty values in specified columns
na_counts = shot_data[[ 'pointScore', 'shotInRally', 'gameScore', 'setScore', 'side', 'serverName']].isna().sum()

# Display the counts
print(f"\nCount of NA's in these columns\n")
print(na_counts)

# Display the counts
print("\nCount of empty strings in each column that includes at least one:\n")
print(non_zero_counts)

Count of NaN values for 'side' on Point Start: 0

Count of NA's in these columns

pointScore     0
shotInRally    0
gameScore      0
setScore       0
side           0
serverName     0
dtype: int64

Count of empty strings in each column that includes at least one:

Division          862
lineupPosition    862
matchDetails      862
matchVenue        862
opponentTeam      862
Notes             862
dtype: int64

## Error Check 9: 
####  Outputs Missing shotInRally Rows

In [20]:
empty_shot_rows = shot_data[shot_data['shotInRally'].isnull()]

if not empty_shot_rows.empty:
    # Iterate over the index of empty_shot_rows
    for index in empty_shot_rows.index:
        # Get the row with empty shotInRally
        empty_row = shot_data.loc[index]
        
        # Get the row above it
        if index - 1 >= 0:
            above_row = shot_data.loc[index - 1]
        else:
            above_row = None
        
        # Get the row below it
        if index + 1 < len(shot_data):
            below_row = shot_data.loc[index + 1]
        else:
            below_row = None
        
        # Print the rows
        print("Empty row:")
        print(empty_row)
        print("Row above:")
        print(above_row)
        print("Row below:")
        print(below_row)
        print("====================")
else:
    print("Check Passed: No Missing shotInRally")

Check Passed: No Missing shotInRally

## Error Check 5: 
####  Check that pointNumber is increasing consecutively

- if video is bad and points are cut out, this can fail and that's ok.

In [21]:
point_numbers = shot_data['pointNumber'].unique()

# Check if the point numbers are consecutive
if list(point_numbers) == list(range(1, len(point_numbers) + 1)):
    print("Check Passed")
else:
    raise ValueError("Error: The 'pointNumber' column does not contain consecutive numbers starting from 1.")

Check Passed

## Error Check 6: 
#### Check same amount of start and end points

In [22]:
# Count of Point Start and Point End
num_point_start = shot_data['isPointStart'].sum()

# Count the number of rows where isPointEnd is equal to 1
num_point_end = shot_data['isPointEnd'].sum()

if num_point_start != num_point_end:
    print("Number of rows with isPointStart = 1:", num_point_start)
    print("Number of rows with isPointEnd = 1:", num_point_end)
    raise ValueError("Error: count of isPointStart = 1 and isPointEnd = 1 are not the same.")
else:
    print("Number of rows with isPointStart = 1:", num_point_start)
    print("Number of rows with isPointEnd = 1:", num_point_end)
    print('Check Passed.')

Number of rows with isPointStart = 1: 135.0
Number of rows with isPointEnd = 1: 135.0
Check Passed.

## Error Check 7: 
#### Output consecutive isPointStart with no isPointEnd, and vice versa for isPointEnd

In [23]:
# Shubhan

# Output total start, total end
# How many Points aren't enclosing between point start and point end 

# Count where isPointStart = 1
count_isPointStart = (shot_data['isPointStart'] == 1).sum()

# Count where isPointEnd = 1
count_isPointEnd = (shot_data['isPointEnd'] == 1).sum()

print("Total count where isPointStart = 1:", count_isPointStart)
print("Total count where isPointEnd = 1:", count_isPointEnd)

# Output Point/Game Scores where there is consecutive isPointStart with no isPointEnd
def check_isPointStart_in_between(shot_data):
    start_indices = shot_data.index[shot_data['isPointStart'] == 1]  # Get indices where isPointStart is True
    end_indices = shot_data.index[shot_data['isPointEnd'] == 1]  # Get indices where isPointEnd is True
    start_without_end = []

    for i in range(len(start_indices) - 1):
        current_start_index = start_indices[i]
        next_start_index = start_indices[i + 1]

        # Get all isPointEnd indices between current_start_index and next_start_index
        end_between_starts = end_indices[(end_indices >= current_start_index) & (end_indices < next_start_index)]

        # Check if there is at least one isPointEnd between current_start_index and next_start_index
        if len(end_between_starts) == 0:
            start_without_end.append(current_start_index)

    # Check the last isPointStart
    last_start_index = start_indices[-1]
    end_after_last_start = end_indices[end_indices >= last_start_index]

    if len(end_after_last_start) == 0:
        start_without_end.append(last_start_index)

    if start_without_end:
        print(" ")
        print("isPointStart without corresponding isPointEnd:")
        for index in start_without_end:
#             print("Index:", index)
#             print("pointScore:", shot_data.at[index, 'pointScore'])
#             print("gameScore:", shot_data.at[index, 'gameScore'])
#             print("setScore:", shot_data.at[index, 'setScore'])
            print(" ")
            print(shot_data.loc[start_without_end][['pointScore', 'gameScore', 'setScore', 'isPointStart']])
            print(" ")

        
        return False
    else:
        print("All isPointStart have corresponding isPointEnd.")
        return True

# Check if the condition is met
check_isPointStart_in_between(shot_data)

# Output Point/Game Scores where there is consecutive isPointEnd with no isPointStart
def check_isPointEnd_in_between(shot_data):
    start_indices = shot_data.index[shot_data['isPointStart'] == 1]  # Get indices where isPointStart is True
    end_indices = shot_data.index[shot_data['isPointEnd'] == 1]  # Get indices where isPointEnd is True
    end_without_start = []

    for i in range(len(end_indices) - 1):
        current_end_index = end_indices[i]
        next_end_index = end_indices[i + 1]

        # Get all isPointStart indices b/w current_end_index and next_end_index
        start_between_ends = start_indices[(start_indices > current_end_index) & (start_indices <= next_end_index)]

        # Check if there is at least one isPointStart between current_end_index and next_end_index
        if len(start_between_ends) == 0:
            end_without_start.append(current_end_index)

    # NOTE: This will always append the last index of the sheet because the last end will never have a corresponding start so I'm not sure if its necessary to add it to the end_without_start array
    # Check the last isPointStart
    """
    last_end_index = end_indices[-1]
    start_after_last_end = start_indices[start_indices >= last_end_index]

    if len(start_after_last_end) == 0:
        end_without_start.append(last_end_index)
    """

    if end_without_start:
        print("isPointEnd without corresponding isPointStart:")
#         for index in end_without_start:
#             print("Index:", index)
#             print("pointScore:", shot_data.at[index, 'pointScore'])
#             print("gameScore:", shot_data.at[index, 'gameScore'])
#             print("setScore:", shot_data.at[index, 'setScore'])
#             print("setScore:", shot_data.at[index, 'tiebreakScore'])

        # Output the rows of shot_data that correspond to the indices in end_without_start
        print(" ")
        print(shot_data.loc[end_without_start][['pointScore', 'gameScore', 'setScore', 'isPointEnd']])

        return False
    else:
        print("All isPointEnd have corresponding isPointStart.")
        return True

# Check if the condition is met
check_isPointEnd_in_between(shot_data)

Total count where isPointStart = 1: 135
Total count where isPointEnd = 1: 135
All isPointStart have corresponding isPointEnd.
All isPointEnd have corresponding isPointStart.

True

## Error Check 8:
#### Change the score from incorrect date format
- accounts for all variations of dates eg. (0-00-0000, 0/0/0000)

In [24]:
## Error Check 13:
#### Make Jan-00 back into 1-0 for Game/Set Score

# Make Scores Strings not Date Time
columns_to_convert = ['gameScore', 'setScore'] #if no tiebreakScore
# columns_to_convert = ['gameScore', 'setScore', 'tiebreakScore']
shot_data[columns_to_convert] = shot_data[columns_to_convert].astype(object)

In [25]:
import re

# Define a mapping for month abbreviations
month_mapping = {'Jan': '1', 'Feb': '2', 'Mar': '3', 'Apr': '4', 'May': '5', 'Jun': '6',
                 'Jul': '7', 'Aug': '8', 'Sep': '9', 'Oct': '10', 'Nov': '11', 'Dec': '12'}

# Function to convert string like 'Jan-00' to '1-0'
def convert_score_string(score_str):
    # Check if the string has a month abbreviation and a year ending with '00'
    if re.match(r'^\d{1,2}-[A-Za-z]{3}$', score_str):
        # Extract year and month abbreviation
        year, month = score_str.split('-')

        # Remove leading zeros from the year
        year = str(int(year))

        # Replace month abbreviation with corresponding number
        month_number = month_mapping.get(month, month)

        # Concatenate the parts to form the transformed string
        transformed_str = f'{year}-{month_number}'
        return transformed_str

    # Check if the string has a month abbreviation and a year with leading '0's
    elif re.match(r'^[A-Za-z]{3}-\d{1,2}$', score_str):
        # Extract month abbreviation and year
        month, year = score_str.split('-')

        # Replace month abbreviation with corresponding number
        month_number = month_mapping.get(month, month)

        # Remove leading zeros from the year
        year = str(int(year))

        # Concatenate the parts to form the transformed string
        transformed_str = f'{month_number}-{year}'
        return transformed_str

    # Check if the string has a date in the format 'month/day/year'
    elif re.match(r'^\d{1,2}/\d{1,2}/\d{4}$', score_str):
        # Extract month, day, and year
        month, day, year = score_str.split('/')

        # Remove leading zeros from month and day
        month = str(int(month))
        day = str(int(day))

        # Concatenate the parts to form the transformed string
        transformed_str = f'{month}-{day}'
        return transformed_str

    # Check if the string has a date in the format 'month-day-year'
    elif re.match(r'^\d{1,2}-\d{1,2}-\d{4}$', score_str):
        # Extract month, day, and year
        month, day, year = score_str.split('-')

        # Remove leading zeros from month and day
        month = str(int(month))
        day = str(int(day))

        # Concatenate the parts to form the transformed string
        transformed_str = f'{month}-{day}'
        return transformed_str

    return score_str

# Apply the conversion function to the relevant columns in shot_data
shot_data['gameScore'] = shot_data['gameScore'].apply(convert_score_string)
shot_data['setScore'] = shot_data['setScore'].apply(convert_score_string)
# shot_data['tiebreakerScore'] = shot_data['tiebreakerScore'].apply(convert_score_string)

## Error Check 9: 
#### Check that there is no strings in set, game scores.

In [26]:
# Assuming shot_data is your DataFrame
unique_set_scores = shot_data['setScore'].unique()
unique_game_scores = shot_data['gameScore'].unique()

# Print unique values
print("Unique Set Scores:", unique_set_scores)
print("Unique Game Scores:", unique_game_scores)

Unique Set Scores: ['0-0' '0-1' '1-1']
Unique Game Scores: ['0-0' '1-0' '2-0' '2-1' '2-2' '2-3' '2-4' '3-4' '4-4' '4-5' '0-1' '1-1'
 '3-1' '3-2' '3-3' '3-5']

## Error Check 10 : 
### Print out all the rows where isPointStart time doesn't start in the beginning of a rally

In [27]:
# Filter the DataFrame
filtered_rows = shot_data[(shot_data['isPointStart'] == 1) & (shot_data['shotInRally'] != 1)]

# Print the filtered rows
if filtered_rows.empty:
    print ("Check passed.")
else:
    print("Rows where isPointStart = 1 and shotInRally != 1:")
    print(filtered_rows)

Check passed.

## Error Check 11: 
### Find the rows where isPointEnd = 1 and shotInRally = 1 but is neither an ace or a double fault

In [28]:
# Filter the DataFrame
filtered_rows = shot_data[
    (shot_data['isPointEnd'] == 1) & 
    (shot_data['shotInRally'] == 1) & 
    (shot_data['firstServeIn'] != 0) &
    (shot_data['secondServeIn'] != 0) &
    (shot_data['isAce'] != 1)
]

# Print the filtered rows
if filtered_rows.empty:
    print ("Check passed.")
else:
    print("Rows where isPointEnd = 1, shotInRally = 1, firstServeIn and secondServeIn are both not 0, and isAce != 1:")
    print(filtered_rows)

Check passed.

## Error Check 12: 
### Find all the rows where there are duplicate isPointStarts == 1 points
- Finds all the points where the there are the same score and isPointStart == 1
#### Warning: This will output rows that have pointScore such as "40-40", "40-A", "A-40"

In [29]:
# Filter the DataFrame
filtered_rows = shot_data[shot_data['isPointStart'] == 1]

# Output rows where isPointStart is 1 and pointScore, gameScore, and setScore have the same value
output_rows = filtered_rows[filtered_rows.duplicated(subset=['pointScore', 'gameScore', 'setScore'], keep=False)]

# Print the output rows
if output_rows.empty:
    print ("Check passed.")
else:
    print("Rows where isPointStart is 1 and pointScore, gameScore, and setScore have the same value:")
    print(output_rows[['pointScore', 'gameScore', 'setScore', 'isPointStart']])

Rows where isPointStart is 1 and pointScore, gameScore, and setScore have the same value:
    pointScore gameScore setScore  isPointStart
42       40-40       0-0      0-0           1.0
53       40-40       0-0      0-0           1.0
63        A-40       0-0      0-0           1.0
68       40-40       0-0      0-0           1.0
74        A-40       0-0      0-0           1.0
79       40-40       0-0      0-0           1.0
83        A-40       0-0      0-0           1.0
88       40-40       0-0      0-0           1.0
90        A-40       0-0      0-0           1.0
95       40-40       0-0      0-0           1.0
101       A-40       0-0      0-0           1.0
104      40-40       0-0      0-0           1.0
106       A-40       0-0      0-0           1.0
472      40-40       4-5      0-0           1.0
482      40-40       4-5      0-0           1.0
611       40-A       1-1      0-1           1.0
618      40-40       1-1      0-1           1.0
620       A-40       1-1      0-1           1.0
627      40-40       1-1      0-1           1.0
630       40-A       1-1      0-1           1.0
639      40-40       1-1      0-1           1.0
643       A-40       1-1      0-1           1.0

## Error Check 13: 
### Find all the rows where there are duplicate isPointEnd == 1 points
- Finds all the points where the there are the same score and isPointEnd == 1

In [30]:
# Filter the DataFrame
filtered_rows = shot_data[shot_data['isPointEnd'] == 1]

# Output rows where isPointStart is 1 and pointScore, gameScore, and setScore have the same value
output_rows = filtered_rows[filtered_rows.duplicated(subset=['pointScore', 'gameScore', 'setScore'], keep=False)]

# Print the output rows
if output_rows.empty:
    print ("Check passed.")
else:
    print("Rows where isPointEnd is 1 and pointScore, gameScore, and setScore have the same value:")
    print(output_rows[['pointScore', 'gameScore', 'setScore', 'isPointStart']])

Rows where isPointEnd is 1 and pointScore, gameScore, and setScore have the same value:
    pointScore gameScore setScore  isPointStart
48       40-40       0-0      0-0           NaN
62       40-40       0-0      0-0           NaN
67        A-40       0-0      0-0           NaN
73       40-40       0-0      0-0           NaN
78        A-40       0-0      0-0           NaN
82       40-40       0-0      0-0           NaN
87        A-40       0-0      0-0           NaN
89       40-40       0-0      0-0           NaN
94        A-40       0-0      0-0           NaN
100      40-40       0-0      0-0           NaN
103       A-40       0-0      0-0           NaN
105      40-40       0-0      0-0           NaN
118       A-40       0-0      0-0           NaN
327       40-0       2-4      0-0           NaN
348       40-0       2-4      0-0           NaN
478      40-40       4-5      0-0           NaN
486      40-40       4-5      0-0           NaN
617       40-A       1-1      0-1           NaN
619      40-40       1-1      0-1           NaN
626       A-40       1-1      0-1           NaN
629      40-40       1-1      0-1           NaN
638       40-A       1-1      0-1           NaN
642      40-40       1-1      0-1           NaN
644       A-40       1-1      0-1           NaN

## Error Check 14:
### Find all the rows where there is isPointEnd == 1 but there is no isWinner, isErrorWideL, isErrorWideR, isErrorNet, isErrorLong

In [31]:
filtered_rows = shot_data[(shot_data['isPointEnd'] == 1) &
                          (shot_data['isWinner'] != 1) &
                          (shot_data['isErrorWideL'] != 1) &
                          (shot_data['isErrorWideR'] != 1) &
                          (shot_data['isErrorNet'] != 1) & 
                          (shot_data['isErrorLong'] != 1) &
                          (shot_data['firstServeIn'] != 0) & 
                          (shot_data['secondServeIn'] != 0)]

if filtered_rows.empty:
    print ("Check passed.")
else:
    print("Error: isPointEnd == 1 but there is no point end shot")
    print(filtered_rows[['pointScore', 'gameScore', 'setScore','isPointStart', 'isPointEnd', 'isWinner', 'isErrorWideL', 'isErrorWideR', 'isErrorNet', 'isErrorLong']])

Check passed.

# Add More Columns

### Add Column: tiebreakScore

In [32]:
 # Check if both conditions passed
if 'tiebreakScore' in shot_data.columns and not shot_data['tiebreakScore'].isnull().any():
    print("Check Passed: Point Numbers already exist")
else:
    shot_data['tiebreakScore'] = np.nan
    player2_new_name = shot_data['player2Name'].iloc[0]

    # Function to reverse pointScore
    def reverse_point_score(score):
        if '-' in score:
            parts = score.split('-')
            return '-'.join(parts[::-1])
        return score

    # Apply reverse_point_score function where serverName is 'Player2'
    shot_data.loc[shot_data['serverName'] == player2_new_name, 'pointScore'] = \
        shot_data.loc[shot_data['serverName'] == player2_new_name, 'pointScore'].apply(reverse_point_score)

    # Transfer values from pointScore to tiebreakScore where gameScore is '6-6'
    shot_data.loc[shot_data['gameScore'] == '6-6', 'tiebreakScore'] = shot_data['pointScore']

    # Set the pointScore to NaN where tiebreakScore is not NaN
    shot_data.loc[pd.notna(shot_data['tiebreakScore']), 'pointScore'] = np.nan

#### Print tiebreakScore

In [33]:
shot_data.loc[shot_data['gameScore'] == '6-6', 'tiebreakScore']

Series([], Name: tiebreakScore, dtype: float64)

#### print pointScore when gameScore == '6-6'
- should be all NA

In [34]:
shot_data.loc[shot_data['gameScore'] == '6-6', 'pointScore'].head()

Series([], Name: pointScore, dtype: object)

### Add Column: returnerName

In [35]:
# Get Returner Name for Shot DF

# Extract player1Name and player2Name from the first row of shot_data
first_row_shot_df = shot_data.iloc[0]
player1_name = first_row_shot_df['player1Name']
player2_name = first_row_shot_df['player2Name']

# # Can Also Manually inpute Player 1 and 2 name
# player1_name = "Kimmi Hance"
# player2_name = "Malaika Rapolu"

def get_returner_name(server_name):
    return player2_name if server_name == player1_name else player1_name

# Add 'Returner Name' column to point_df using the function
shot_data['returnerName'] = shot_data['serverName'].apply(get_returner_name)

print(f"Player 1 = {player1_name}, Player 2 = {player2_name}")
# print(shot_data[['serverName','returnerName']])

Player 1 = Rudy Quan, Player 2 = Yuta Shimizu

### Add Column: shotHitBy

In [36]:
# Add Shot Hit By for each Shot

shot_data['shotHitBy'] = shot_data.apply(lambda row: row['serverName'] if row['shotInRally'] % 2 == 1 else row['returnerName'], axis=1)
print(shot_data[['serverName', 'shotHitBy','pointNumber', 'shotInRally']].head(10))

  serverName     shotHitBy  pointNumber  shotInRally
0  Rudy Quan     Rudy Quan            1            1
1  Rudy Quan  Yuta Shimizu            1            2
2  Rudy Quan     Rudy Quan            1            3
3  Rudy Quan  Yuta Shimizu            1            4
4  Rudy Quan     Rudy Quan            1            5
5  Rudy Quan  Yuta Shimizu            1            6
6  Rudy Quan     Rudy Quan            2            1
7  Rudy Quan  Yuta Shimizu            2            2
8  Rudy Quan     Rudy Quan            2            3
9  Rudy Quan  Yuta Shimizu            2            4

### Add Column: isInsideOut, isInsideIn

In [37]:
# Add columns for isInsideOut and isInsideIn, initially set to 0
shot_data['isInsideOut'] = None
shot_data['isInsideIn'] = None

# Iterate through rows
for index, row in shot_data.iterrows():
    shotHitBy = row['shotHitBy']
    player_hand = row['player1Hand'] if shotHitBy == row['player1Name'] else row['player2Hand']
    

    
    if player_hand == "Right":
        if row['side'] == "Deuce" and row['shotFhBh'] == "Backhand" and row['shotDirection'] == "Crosscourt":
            shot_data.at[index, 'isInsideOut'] = 1
        elif row['side'] == "Ad" and row['shotFhBh'] == "Forehand" and row['shotDirection'] == "Crosscourt":
            shot_data.at[index, 'isInsideOut'] = 1
        elif row['side'] == "Deuce" and row['shotFhBh'] == "Backhand" and row['shotDirection'] == "Down the Line":
            shot_data.at[index, 'isInsideIn'] = 1
        elif row['side'] == "Ad" and row['shotFhBh'] == "Forehand" and row['shotDirection'] == "Down the Line":
            shot_data.at[index, 'isInsideIn'] = 1
    elif player_hand == "Left":
        if row['side'] == "Ad" and row['shotFhBh'] == "Backhand" and row['shotDirection'] == "Crosscourt":
            shot_data.at[index, 'isInsideOut'] = 1
        elif row['side'] == "Deuce" and row['shotFhBh'] == "Forehand" and row['shotDirection'] == "Crosscourt":
            shot_data.at[index, 'isInsideOut'] = 1
        elif row['side'] == "Ad" and row['shotFhBh'] == "Backhand" and row['shotDirection'] == "Down the Line":
            shot_data.at[index, 'isInsideIn'] = 1
        elif row['side'] == "Deuce" and row['shotFhBh'] == "Forehand" and row['shotDirection'] == "Down the Line":
            shot_data.at[index, 'isInsideIn'] = 1

### Add Column: isAce

In [38]:
# Add the Ace column
shot_data['isAce'] = None

for index, row in shot_data.iterrows():
    if row['isPointEnd'] == 1:
        if row['shotInRally'] == 1: # last point is serve
            if (row['firstServeIn'] == 1 or row['secondServeIn'] == 1): # either first or second serve went in
                shot_data.at[index, 'isAce'] = 1

### Add Column: isDoubleFault

In [39]:
# Add the DoubleFault column
shot_data['isDoubleFault'] = None

for index, row in shot_data.iterrows():
    if row['isPointEnd'] == 1:
        if row['shotInRally'] == 1: # last point is serve
            if (row['firstServeIn'] != 1 and row['secondServeIn'] != 1): # either first or second serve went in
                shot_data.at[index, 'isDoubleFault'] = 1

### Add Column: pointWonBy, lastShotError

In [40]:
# Add the 'pointWonBy' column
shot_data['pointWonBy'] = None

# Add the 'lastShotError' column
shot_data['lastShotError'] = 0

for index, row in shot_data.iterrows():
    if row['isPointEnd'] == 1:
        if row['shotInRally'] == 1: # last point is serve
            if row['isAce'] == 1: 
                shot_data.at[index, 'pointWonBy'] = row['serverName']
            elif row['isDoubleFault'] == 1: 
                shot_data.at[index, 'pointWonBy'] = row['returnerName']

                
        elif row['shotInRally'] != 1:
            if row['isErrorWideR'] == 1 or row['isErrorWideL'] == 1 or row['isErrorNet'] == 1 or row['isErrorLong'] == 1: # if error
                shot_data.at[index, 'lastShotError'] = 1
                
                if row['shotInRally'] % 2 == 0:
                    shot_data.at[index, 'pointWonBy'] = row['serverName']
                else:
                    shot_data.at[index, 'pointWonBy'] = row['returnerName']
        
            elif row['isWinner'] == 1:
                if row['shotInRally'] % 2 == 0:
                    shot_data.at[index, 'pointWonBy'] = row['returnerName']
                else:
                    shot_data.at[index, 'pointWonBy'] = row['serverName']

## Error Check 15: 
#### Output Point End with no pointWonBy

In [41]:
# Missing Point End
print(shot_data[(shot_data['isPointEnd'] == 1) & (shot_data['pointWonBy'].isnull())][['pointScore', 'gameScore','setScore', 'lastShotError', 'isWinner', 'isErrorWideR', 'isErrorWideL',
       'isErrorNet', 'isErrorLong', 'pointWonBy', 'serverName', 'shotInRally']])

Empty DataFrame
Columns: [pointScore, gameScore, setScore, lastShotError, isWinner, isErrorWideR, isErrorWideL, isErrorNet, isErrorLong, pointWonBy, serverName, shotInRally]
Index: []

### Backward Fill: PointWonBy

In [42]:
shot_data['pointWonBy'].bfill()

0         Rudy Quan
1         Rudy Quan
2         Rudy Quan
3         Rudy Quan
4         Rudy Quan
           ...
857    Yuta Shimizu
858    Yuta Shimizu
859    Yuta Shimizu
860    Yuta Shimizu
861    Yuta Shimizu
Name: pointWonBy, Length: 862, dtype: object

## Error Check 16: 
#### Find all rows with mismatched serve in/serve zone

In [43]:
# Find indices of all rows with firstServeIn data
first_serve_row = shot_data.index[shot_data['firstServeIn'].notnull()]
# Find indices of all rows with firstServeZone data
first_serve_placement_row = shot_data.index[shot_data['firstServeZone'].notnull()]
# Check which indices are not found in one column but are found in the other
mismatched_first_serve_rows = list(set(first_serve_row).difference(first_serve_placement_row))
# Add 2 to the indices to match numbering of Google Sheets
mismatched_first_serve_rows = [x+2 for x in mismatched_first_serve_rows]
if not mismatched_first_serve_rows:
    print("Check passed for first serves.")
else:
    print("Rows where first serve in and first serve zone are not found together: " + str(mismatched_first_serve_rows))

second_serve_row = shot_data.index[shot_data['secondServeIn'].notnull()]
second_serve_placement_row = shot_data.index[shot_data['secondServeZone'].notnull()]
mismatched_second_serve_rows = list(set(second_serve_row).difference(first_serve_placement_row))
mismatched_second_serve_rows = [x+2 for x in mismatched_second_serve_rows]
if not mismatched_second_serve_rows:
    print("Check passed for second serves.")
else:
    print("Rows where second serve in and second serve zone are not found together: " + str(mismatched_second_serve_rows))

Check passed for first serves.
Check passed for second serves.

### Add Column: serveResult, serveInPlacement

In [44]:
conditions = [
    (shot_data['isPointStart'] == 1) & (shot_data['firstServeIn'] == 1),
    (shot_data['isPointStart'] == 1) & (shot_data['firstServeIn'] != 1) & (shot_data['secondServeIn'] == 1),
    (shot_data['isPointStart'] == 1) & (shot_data['firstServeIn'] != 1) & (shot_data['secondServeIn'] != 1),]

# Define the values to be assigned for each condition
values_result = ['1st Serve In', '2nd Serve In', 'Double Fault']
values_placement = [shot_data['firstServeZone'], shot_data['secondServeZone'], shot_data['secondServeZone']]

# Use numpy.select to assign values based on conditions
shot_data['serveResult'] = np.select(conditions, values_result, default='')
shot_data['serveInPlacement'] = np.select(conditions, values_placement, default='')

# Now shot_data DataFrame is updated with serveResult and serveInPlacement values where isPointStart is 1
# print(shot_data[['serveResult', 'serveInPlacement','pointScore','side']].head(60))

In [45]:
shot_data.replace("", None, inplace=True)

In [46]:
# shot_data.query("shotInRally == 1")['serveResult'].unique()

shot_data.loc[shot_data['serveResult'] == 'Double Fault', 'serveInPlacement'].value_counts

<bound method IndexOpsMixin.value_counts of 15      NaN
247    Wide
361    Body
406       T
789       T
791       T
809       T
Name: serveInPlacement, dtype: object>

### Add Column: Depth

In [47]:
def depth_metric(shotInRally, x, y, side) :
    
    if (x >= -157.5) & (x <= 157.5):
    
        if side == 'Near':
            if shotInRally % 2 == 0:
                if -455 < y < -350: return 'Deep'
                if -350 < y < 0: return 'Short'
                if y < -455: return 'Long'

            elif shotInRally % 2 == 1:
                if 455 > y > 350: return 'Deep'
                if 0 < y < 350: return 'Short'
                if y > 455: return 'Long'

        elif side == 'Far':
            if shotInRally % 2 == 1:
                if -455 < y < -350: return 'Deep'
                if -350 < y < 0: return 'Short'
                if y < -455: return 'Long'

            elif shotInRally % 2 == 0:
                if 455 > y > 350: return 'Deep'
                if 0 < y < 350: return 'Short'
                if y > 455: return 'Long'
        
shot_data['depth'] = shot_data.apply(lambda x: depth_metric(x['shotInRally'], x['shotLocationX'], x['shotLocationY'], x['serverFarNear']), axis=1)

In [48]:
shot_data[['shotInRally','serverFarNear', 'shotLocationY', 'depth']]['depth'].value_counts()

depth
Short    398
Deep     219
Long      25
Name: count, dtype: int64

In [49]:
shot_data[shot_data['depth'] == 'Long']

,pointScore,gameScore,setScore,isPointStart,pointStartTime,isPointEnd,pointEndTime,pointNumber,isBreakPoint,shotInRally,...,returnerName,shotHitBy,isInsideOut,isInsideIn,isDoubleFault,pointWonBy,lastShotError,serveResult,serveInPlacement,depth
52,40-A,0-0,0-0,NaN,387090.0,1.0,NaN,8,NaN,4,...,Yuta Shimizu,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
62,40-40,0-0,0-0,NaN,427462.0,1.0,NaN,9,NaN,10,...,Yuta Shimizu,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
89,40-40,0-0,0-0,NaN,635707.0,1.0,NaN,15,NaN,2,...,Yuta Shimizu,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
103,A-40,0-0,0-0,NaN,751952.0,1.0,NaN,18,NaN,3,...,Yuta Shimizu,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
203,30-40,2-0,0-0,NaN,1299219.0,1.0,NaN,31,NaN,7,...,Yuta Shimizu,Rudy Quan,1,None,None,Yuta Shimizu,1,None,None,Long
242,0-30,2-1,0-0,NaN,1517069.0,1.0,NaN,34,NaN,5,...,Rudy Quan,Yuta Shimizu,None,1,None,Rudy Quan,1,None,None,Long
268,15-30,2-2,0-0,NaN,1727896.0,1.0,NaN,40,NaN,5,...,Yuta Shimizu,Rudy Quan,None,1,None,Yuta Shimizu,1,None,None,Long
360,0-15,3-4,0-0,NaN,2411036.0,1.0,NaN,54,NaN,5,...,Rudy Quan,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
446,15-30,4-5,0-0,NaN,3020553.0,1.0,NaN,68,NaN,5,...,Rudy Quan,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
478,40-40,4-5,0-0,NaN,NaN,1.0,NaN,71,NaN,7,...,Rudy Quan,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
532,0-15,0-1,0-1,NaN,3737517.0,1.0,NaN,82,NaN,2,...,Rudy Quan,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
545,30-30,0-1,0-1,NaN,3834720.0,1.0,NaN,85,NaN,7,...,Rudy Quan,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
578,0-0,1-1,0-1,NaN,3993135.0,1.0,NaN,89,NaN,8,...,Yuta Shimizu,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
582,15-0,1-1,1-1,NaN,4025746.0,1.0,NaN,90,NaN,4,...,Yuta Shimizu,Yuta Shimizu,1,None,None,Rudy Quan,1,None,None,Long
590,30-15,1-1,1-1,NaN,4117953.0,1.0,NaN,92,NaN,5,...,Yuta Shimizu,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
601,30-30,1-1,1-1,NaN,4189574.0,1.0,NaN,93,NaN,3,...,Yuta Shimizu,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
619,40-40,1-1,0-1,NaN,4322279.0,1.0,NaN,97,NaN,2,...,Yuta Shimizu,Yuta Shimizu,None,1,None,Rudy Quan,1,None,None,Long
626,A-40,1-1,0-1,NaN,4365950.0,1.0,NaN,98,NaN,7,...,Yuta Shimizu,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
669,15-0,2-1,0-1,NaN,4705510.0,1.0,NaN,104,NaN,9,...,Rudy Quan,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
679,30-15,2-1,0-1,NaN,4793591.0,1.0,NaN,106,NaN,4,...,Rudy Quan,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
692,40-30,2-1,0-1,NaN,4876895.0,1.0,NaN,108,NaN,7,...,Rudy Quan,Yuta Shimizu,None,None,None,Rudy Quan,1,None,None,Long
697,0-0,3-1,0-1,NaN,4949081.0,1.0,NaN,109,NaN,5,...,Yuta Shimizu,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
815,15-15,3-4,0-1,NaN,5944610.0,1.0,NaN,127,NaN,2,...,Rudy Quan,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
827,15-40,3-4,0-1,NaN,6001814.0,1.0,NaN,129,NaN,6,...,Rudy Quan,Rudy Quan,None,None,None,Yuta Shimizu,1,None,None,Long
834,0-15,3-5,0-1,NaN,6092055.0,1.0,NaN,131,NaN,3,...,Yuta Shimizu,Rudy Quan,None,1,None,Yuta Shimizu,1,None,None,Long

In [50]:
shot_data[shot_data['isErrorLong'] == 1][['shotLocationX', 'shotLocationY']]

     shotLocationX  shotLocationY
48          -168.0          493.0
52            93.0         -522.0
62          -139.0         -528.0
89            88.0         -490.0
103           59.0          482.0
147         -160.0          496.0
203         -119.0         -506.0
242         -119.0         -498.0
261         -130.0         -466.0
268         -135.0          506.0
360         -104.0         -504.0
446          -98.0          501.0
471         -196.0         -509.0
478         -114.0          473.0
532          -88.0          477.0
545           80.0         -490.0
578           52.0         -487.0
582            7.0         -479.0
590         -126.0          499.0
601           20.0          501.0
619         -123.0         -484.0
626          111.0          480.0
669           67.0          475.0
679          -13.0         -523.0
692          -75.0          472.0
697          -11.0         -470.0
718          168.0         -483.0
815           22.0         -544.0
827           59.0         -504.0
834          112.0         -498.0

### Add Column: isAprroach

# Double Check BEFORE Outputting

In [51]:
print(shot_data.head(10))

  pointScore gameScore setScore  isPointStart  pointStartTime  isPointEnd  \
0        0-0       0-0      0-0           1.0          1442.0         NaN
1        0-0       0-0      0-0           NaN         81939.0         NaN
2        0-0       0-0      0-0           NaN         82644.0         NaN
3        0-0       0-0      0-0           NaN         84691.0         NaN
4        0-0       0-0      0-0           NaN         85867.0         NaN
5        0-0       0-0      0-0           NaN         87748.0         1.0
6       15-0       0-0      0-0           1.0         87749.0         NaN
7       15-0       0-0      0-0           NaN        108583.0         NaN
8       15-0       0-0      0-0           NaN        109307.0         NaN
9       15-0       0-0      0-0           NaN        110717.0         NaN

   pointEndTime  pointNumber  isBreakPoint  shotInRally  ...  returnerName  \
0           NaN            1           NaN            1  ...  Yuta Shimizu
1           NaN            1           NaN            2  ...  Yuta Shimizu
2           NaN            1           NaN            3  ...  Yuta Shimizu
3           NaN            1           NaN            4  ...  Yuta Shimizu
4           NaN            1           NaN            5  ...  Yuta Shimizu
5           NaN            1           NaN            6  ...  Yuta Shimizu
6           NaN            2           NaN            1  ...  Yuta Shimizu
7           NaN            2           NaN            2  ...  Yuta Shimizu
8           NaN            2           NaN            3  ...  Yuta Shimizu
9           NaN            2           NaN            4  ...  Yuta Shimizu

      shotHitBy isInsideOut  isInsideIn isDoubleFault  pointWonBy  \
0     Rudy Quan        None        None          None        None
1  Yuta Shimizu        None           1          None        None
2     Rudy Quan        None           1          None        None
3  Yuta Shimizu        None        None          None        None
4     Rudy Quan           1        None          None        None
5  Yuta Shimizu        None        None          None   Rudy Quan
6     Rudy Quan        None        None          None        None
7  Yuta Shimizu        None        None          None        None
8     Rudy Quan        None           1          None        None
9  Yuta Shimizu        None        None          None        None

   lastShotError   serveResult serveInPlacement  depth
0              0  1st Serve In             Body   None
1              0          None             None  Short
2              0          None             None  Short
3              0          None             None  Short
4              0          None             None  Short
5              1          None             None   None
6              0  1st Serve In             Body   None
7              0          None             None  Short
8              0          None             None   Deep
9              0          None             None  Short

[10 rows x 68 columns]

In [52]:
print(shot_data.tail(10))

    pointScore gameScore setScore  isPointStart  pointStartTime  isPointEnd  \
852      15-40       3-5      0-1           NaN       6168835.0         NaN
853      15-40       3-5      0-1           NaN       6170085.0         NaN
854      15-40       3-5      0-1           NaN       6171334.0         1.0
855      30-40       3-5      0-1           1.0       6173700.0         NaN
856      30-40       3-5      0-1           NaN       6198398.0         NaN
857      30-40       3-5      0-1           NaN       6201149.0         NaN
858      30-40       3-5      0-1           NaN       6201818.0         NaN
859      30-40       3-5      0-1           NaN       6204151.0         NaN
860      30-40       3-5      0-1           NaN       6204390.0         NaN
861      30-40       3-5      0-1           NaN             NaN         1.0

     pointEndTime  pointNumber  isBreakPoint  shotInRally  ...  returnerName  \
852           NaN          134           NaN           12  ...  Yuta Shimizu
853           NaN          134           NaN           13  ...  Yuta Shimizu
854           NaN          134           NaN           14  ...  Yuta Shimizu
855           NaN          135           NaN            1  ...  Yuta Shimizu
856           NaN          135           NaN            2  ...  Yuta Shimizu
857           NaN          135           NaN            3  ...  Yuta Shimizu
858           NaN          135           NaN            4  ...  Yuta Shimizu
859           NaN          135           NaN            5  ...  Yuta Shimizu
860           NaN          135           NaN            6  ...  Yuta Shimizu
861           NaN          135           NaN            7  ...  Yuta Shimizu

        shotHitBy isInsideOut  isInsideIn isDoubleFault    pointWonBy  \
852  Yuta Shimizu        None        None          None          None
853     Rudy Quan        None        None          None          None
854  Yuta Shimizu           1        None          None     Rudy Quan
855     Rudy Quan        None        None          None          None
856  Yuta Shimizu        None        None          None          None
857     Rudy Quan           1        None          None          None
858  Yuta Shimizu        None        None          None          None
859     Rudy Quan        None        None          None          None
860  Yuta Shimizu        None        None          None          None
861     Rudy Quan        None        None          None  Yuta Shimizu

     lastShotError   serveResult serveInPlacement  depth
852              0          None             None  Short
853              0          None             None  Short
854              1          None             None   None
855              0  1st Serve In             Wide   None
856              0          None             None   Deep
857              0          None             None  Short
858              0          None             None   Deep
859              0          None             None  Short
860              0          None             None  Short
861              1          None             None   None

[10 rows x 68 columns]

# Output ShotCSV

In [53]:
# # # Ouput Improved Shot Csv HERE
# # Assuming point_df is your DataFrame and player1Name and player2Name are the names from the first row
player1NameNoSpace = shot_data.iloc[0]['player1Name'].replace(" ", "")
player2NameNoSpace = shot_data.iloc[0]['player2Name'].replace(" ", "")

# Save DataFrame to CSV file with modified player names
shot_data.to_csv(f'Shot_Visuals_{player1NameNoSpace}_{player2NameNoSpace}.csv', index=False)

In [54]:
shot_data['pointNumber'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135])

# Below is for Point CSV

### Create Point DF

In [55]:
# Creating point_df (with only 1 row for each pointNumber)
point_df = shot_data.drop_duplicates(subset='pointNumber')[['pointNumber']]
# point_df.shape

### Add Column: player1Name, player2Name
### Set Variable: first_player1Name, first_player2Name

In [56]:
# Extract the first value of player1Name and player2Name from shot_data
first_player1Name = shot_data['player1Name'].iloc[0]
first_player2Name = shot_data['player2Name'].iloc[0]

# Fill in the first value into all rows of point_df['player1Name'] and point_df['player2Name']
point_df['player1Name'] = first_player1Name
point_df['player2Name'] = first_player2Name

### Add Column: Scores

In [57]:
point_df['pointScore'] = shot_data.groupby('pointNumber')['pointScore'].first().values
point_df['gameScore'] = shot_data.groupby('pointNumber')['gameScore'].first().values
point_df['setScore'] = shot_data.groupby('pointNumber')['setScore'].first().values
point_df['tiebreakScore'] = shot_data.groupby('pointNumber')['tiebreakScore'].first().values

### Add Column: Side

In [58]:
# Group shot_data by 'pointNumber' and get the first 'side' value for each group
side_values = shot_data.groupby('pointNumber')['side'].first().reset_index()

point_df['side'] = side_values['side'].values

### Add Column: serverName, returnerName

In [59]:
# Adds Server and Returner Names and pointScore

point_df['serverName'] = shot_data.groupby('pointNumber')['serverName'].first().values
point_df['returnerName'] = shot_data.groupby('pointNumber')['returnerName'].first().values

In [60]:
client_team_value = shot_data.loc[0, 'clientTeam']
opponent_team_value = shot_data.loc[0, 'opponentTeam']

# Adding 'clientTeam' and 'opponentTeam' columns to point_df
point_df['clientTeam'] = client_team_value
point_df['opponentTeam'] = opponent_team_value

## Warning: Will be Empty if Timestamp separate

In [61]:
# Add Start and End times per point

for index, row in shot_data.iterrows():
    point_number = row['pointNumber']
    
    if row['isPointStart'] == 1:
        point_df.loc[point_df['pointNumber'] == point_number, 'Position'] = row['pointStartTime']
    if row['isPointEnd'] == 1:
        point_df.loc[point_df['pointNumber'] == point_number, 'pointEndPosition'] = row['pointEndTime']

# Add Duration
point_df['Duration'] = point_df['pointEndPosition'] - point_df['Position']

In [62]:
len(point_df['Position'])

135

In [63]:
len(point_df['pointEndPosition'])

135

### Add Column: Rally Column
- rallyCount (x amount)
- rallyCountFreq (1-4,5-8,9-12,13+)

In [64]:
# Find the highest shotInRally for each pointNumber in shot_data
max_rally_per_point = shot_data.groupby('pointNumber')['shotInRally'].max().reset_index()
point_df['rallyCount'] = list(max_rally_per_point['shotInRally'])

# Add 'rallyCountFreq' column based on specified conditions
point_df['rallyCountFreq'] = point_df['rallyCount'].apply(lambda x: '1 - 4' if 1 <= x <= 4 else ('5 - 8' if 5 <= x <= 8 else ('9 - 12' if 9 <= x <= 12 else ('13 +' if x >= 13 else 'Error'))))

### Add Column: Serve 
- firstServeIn
- secondServeIn
- serveResult
- serveInPlacement

Part 2
- serveResult
- serveInPlacement
 
Part 3
- firstServeZone
- secondServeZone

In [65]:
# Add firstServeIn and secondServeIn

# Add firstServeIn and secondServeIn columns
point_df['firstServeIn'] = 0
point_df['secondServeIn'] = 0

for point_number in shot_data['pointNumber'].unique():
    # Check if firstServeIn is 1 for the given pointNumber in shot_data
    if any((shot_data['pointNumber'] == point_number) & (shot_data['firstServeIn'] == 1)):
        point_df.loc[point_df['pointNumber'] == point_number, 'firstServeIn'] = 1
    
    # Check if secondServeIn is 1 for the given pointNumber in shot_data
    if any((shot_data['pointNumber'] == point_number) & (shot_data['secondServeIn'] == 1)):
        point_df.loc[point_df['pointNumber'] == point_number, 'secondServeIn'] = 1

#part 2
start_points = shot_data[shot_data['isPointStart'] == 1]

# Set values in point_df to corresponding values from start_points
point_df['serveResult'] = start_points['serveResult'].values
point_df['serveInPlacement'] = start_points['serveInPlacement'].values

# part 3
serve_zones = shot_data.loc[shot_data['shotInRally'] == 1, ['pointNumber', 'firstServeZone', 'secondServeZone', 'firstServeIn', 'secondServeIn']].drop_duplicates()
point_df['firstServeZone'] = shot_data.groupby('pointNumber')['firstServeZone'].first().values
point_df['secondServeZone'] = shot_data.groupby('pointNumber')['secondServeZone'].first().values

### Add Column: Ace

In [66]:
point_df['isAce'] = ((point_df['rallyCount'] == 1) & ((point_df['serveResult'] != "Double Fault")))

# Display the resulting DataFrame
print(point_df[['pointNumber', 'rallyCount', 'isAce']].head(14))

    pointNumber  rallyCount  isAce
0             1           6  False
6             2           5  False
11            3           4  False
15            4           7  False
22            5           8  False
30            6          12  False
42            7           7  False
49            8           4  False
53            9          10  False
63           10           5  False
68           11           6  False
74           12           5  False
79           13           4  False
83           14           5  False

### Add Column: Server Coordinate Data

In [67]:
point_df['serverFarNear'] = shot_data.groupby('pointNumber')['serverFarNear'].first().values

# Add first serve X and Y column
point_df['firstServeXCoord'] = shot_data.groupby('pointNumber')['firstServeXCoord'].first().values
point_df['firstServeYCoord'] = shot_data.groupby('pointNumber')['firstServeYCoord'].first().values

# Add second serve X and Y column
point_df['secondServeXCoord'] = shot_data.groupby('pointNumber')['secondServeXCoord'].first().values
point_df['secondServeYCoord'] = shot_data.groupby('pointNumber')['secondServeYCoord'].first().values


point_df[['serverFarNear', 'firstServeXCoord', 'firstServeYCoord', 'secondServeXCoord', 'secondServeYCoord']]

,serverFarNear,firstServeXCoord,firstServeYCoord,secondServeXCoord,secondServeYCoord
0,Near,-76.0,131.0,NaN,NaN
6,Near,83.0,188.0,NaN,NaN
11,Near,-49.0,267.0,-65.0,220.0
15,Near,NaN,NaN,NaN,NaN
22,Near,-34.0,169.0,NaN,NaN
...,...,...,...,...,...
832,Far,-56.0,-228.0,NaN,NaN
835,Far,88.0,-238.0,NaN,NaN
839,Far,-56.0,-241.0,NaN,NaN
841,Far,88.0,-233.0,NaN,NaN
855,Far,-117.0,-220.0,NaN,NaN

### Add Column: Return

In [68]:
# print(shot_data[shot_data['shotInRally'] == 2][['shotDirection','shotFhBh','pointScore','gameScore','setScore']])

In [69]:
# Set the initial values of 'returnDirection' and 'returnHand' columns to None
point_df['returnDirection'] = None
point_df['returnFhBh'] = None

# Iterate through pointNumber in shot_data
for point_number in shot_data['pointNumber'].unique():
    # Check if shotInRally == 2 exists for the given pointNumber
    if 2 in shot_data.loc[shot_data['pointNumber'] == point_number, 'shotInRally'].values:
        # Get the information from the corresponding row
        row_with_return_info = shot_data[(shot_data['pointNumber'] == point_number) & (shot_data['shotInRally'] == 2)].iloc[0]

        # Assign values to 'returnDirection' and 'returnHand' columns
        point_df.loc[point_df['pointNumber'] == point_number, 'returnDirection'] = row_with_return_info['shotDirection']
        point_df.loc[point_df['pointNumber'] == point_number, 'returnFhBh'] = row_with_return_info['shotFhBh']

# Display the modified DataFrame
print(point_df.head(10))

    pointNumber player1Name   player2Name pointScore gameScore setScore  \
0             1   Rudy Quan  Yuta Shimizu        0-0       0-0      0-0
6             2   Rudy Quan  Yuta Shimizu       15-0       0-0      0-0
11            3   Rudy Quan  Yuta Shimizu      15-15       0-0      0-0
15            4   Rudy Quan  Yuta Shimizu      30-15       0-0      0-0
22            5   Rudy Quan  Yuta Shimizu      30-30       0-0      0-0
30            6   Rudy Quan  Yuta Shimizu      40-30       0-0      0-0
42            7   Rudy Quan  Yuta Shimizu      40-40       0-0      0-0
49            8   Rudy Quan  Yuta Shimizu       40-A       0-0      0-0
53            9   Rudy Quan  Yuta Shimizu      40-40       0-0      0-0
63           10   Rudy Quan  Yuta Shimizu       A-40       0-0      0-0

    tiebreakScore   side serverName  returnerName  ... firstServeZone  \
0             NaN  Deuce  Rudy Quan  Yuta Shimizu  ...           Body
6             NaN     Ad  Rudy Quan  Yuta Shimizu  ...           Body
11            NaN  Deuce  Rudy Quan  Yuta Shimizu  ...              T
15            NaN     Ad  Rudy Quan  Yuta Shimizu  ...           None
22            NaN  Deuce  Rudy Quan  Yuta Shimizu  ...              T
30            NaN     Ad  Rudy Quan  Yuta Shimizu  ...           Body
42            NaN  Deuce  Rudy Quan  Yuta Shimizu  ...           Body
49            NaN     Ad  Rudy Quan  Yuta Shimizu  ...           Wide
53            NaN  Deuce  Rudy Quan  Yuta Shimizu  ...           Wide
63            NaN     Ad  Rudy Quan  Yuta Shimizu  ...           Body

   secondServeZone  isAce  serverFarNear  firstServeXCoord  firstServeYCoord  \
0             None  False           Near             -76.0             131.0
6             None  False           Near              83.0             188.0
11            Body  False           Near             -49.0             267.0
15            None  False           Near               NaN               NaN
22            None  False           Near             -34.0             169.0
30            None  False           Near              59.0             151.0
42               T  False           Near             -93.0             265.0
49               T  False           Near             123.0             265.0
53            None  False           Near            -120.0             206.0
63            None  False           Near              83.0             116.0

   secondServeXCoord  secondServeYCoord  returnDirection returnFhBh
0                NaN                NaN    Down the Line   Forehand
6                NaN                NaN       Crosscourt   Forehand
11             -65.0              220.0       Crosscourt   Forehand
15               NaN                NaN       Crosscourt   Forehand
22               NaN                NaN    Down the Line   Forehand
30               NaN                NaN       Crosscourt   Backhand
42             -48.0              149.0    Down the Line   Forehand
49              24.0              165.0    Down the Line   Backhand
53               NaN                NaN       Crosscourt   Backhand
63               NaN                NaN       Crosscourt   Forehand

[10 rows x 31 columns]

### Add Column: Error Column
- errorType

In [70]:
# Create an empty DataFrame to store the results
error_results = pd.DataFrame(columns=['errorType', 'pointNumber'])

# Iterate through entire shot_data
for index, row in shot_data.iterrows():
    pointNumber = row['pointNumber']
    point_error_value = None
    
    if row['isErrorWideR'] == 1:
        point_error_value = 'Wide Right'
    elif row['isErrorWideL'] == 1:
        point_error_value = 'Wide Left'
    elif 'isErrorNet' in row and row['isErrorNet'] == 1:
        point_error_value = 'Net'
    elif row['isErrorLong'] == 1:
        point_error_value = 'Long'
    

    # If an error is found, append the result to the error_results DataFrame
    if point_error_value is not None:
        error_results = pd.concat([error_results, pd.DataFrame({'pointNumber': [pointNumber], 'errorType': [point_error_value]})], ignore_index=True)


# Drop duplicates based on 'pointNumber'
error_results = error_results.drop_duplicates(subset=['pointNumber'])

In [71]:
# Create a dictionary mapping 'pointNumber' to 'errorType' in error_results
error_type_mapping = dict(zip(error_results['pointNumber'], error_results['errorType']))

# Create 'errorType' column in point_df based on the mapping
point_df['errorType'] = point_df['pointNumber'].map(error_type_mapping)

point_df = point_df.replace({np.nan: None})

### Add Column: Error (Returns)

In [72]:
def get_return_error(row):
    if row['rallyCount'] == 2:
        return row['errorType']
    else:
        return None

point_df.loc[point_df['pointNumber'] == point_number, 'serveInPlacement'] = shot_data['secondServeZone']  

# Apply the functions to create the new columns
point_df['returnError'] = point_df.apply(get_return_error, axis=1)

### Add Column: Last Shot

In [73]:
point_df['lastShotDirection'] = None
point_df['lastShotFhBh'] = None
point_df['lastShotHitBy'] = None  
point_df['lastShotResult'] = None  

# Iterate through unique pointNumbers in shot_data
for point_number in shot_data['pointNumber'].unique():
    # Check if isPointEnd == 1 exists for the given pointNumber
    if 1 in shot_data.loc[shot_data['pointNumber'] == point_number, 'isPointEnd'].values:
        # Get the information from the corresponding row
        row_with_lastshot_info = shot_data[(shot_data['pointNumber'] == point_number) & (shot_data['isPointEnd'] == 1)].iloc[0]

        # Assign values to 'lastShotDirection' and 'lastShotFhBh' columns
        point_df.loc[point_df['pointNumber'] == point_number, 'lastShotDirection'] = row_with_lastshot_info['shotDirection']
        point_df.loc[point_df['pointNumber'] == point_number, 'lastShotFhBh'] = row_with_lastshot_info['shotFhBh']
        point_df.loc[point_df['pointNumber'] == point_number, 'lastShotHitBy'] = row_with_lastshot_info['shotHitBy']
        
        # Determine lastShotResult based on conditions
        if row_with_lastshot_info['isWinner'] == 1 and not row_with_lastshot_info['isAce']:
            point_df.loc[point_df['pointNumber'] == point_number, 'lastShotResult'] = "Winner"
        elif row_with_lastshot_info['lastShotError'] == 1:
            point_df.loc[point_df['pointNumber'] == point_number, 'lastShotResult'] = "Error"

In [74]:
print(point_df['lastShotResult'].unique())

['Error' 'Winner' None]

### Add Column: pointWonBy

In [75]:
# Initialize variables to keep track of the state
prev_point_number = None
point_won_by_list = []

# Iterate through the DataFrame
for index, row in shot_data.iterrows():
    if row['isPointEnd'] == 1:
        # Check if pointNumber is different and consecutively increasing
        if prev_point_number is None or row['pointNumber'] == prev_point_number + 1:
            # Append pointWonBy to the list
            point_won_by_list.append(row['pointWonBy'])
            prev_point_number = row['pointNumber']
        else:
            raise ValueError("Error: Point numbers are not different or consecutively increasing.")
            break

# Add point_won_by_list as a new column to point_df
point_df['pointWonBy'] = point_won_by_list

### Add Column: isExcitingPoint

In [76]:
point_df['isExcitingPoint'] = shot_data.groupby('pointNumber')['isExcitingPoint'].count()

## Error Check 17: 
#### player1, player2, serverName, returnerName do not have misspellings

In [77]:
print(point_df['player1Name'].unique())
print(point_df['player2Name'].unique())
print(point_df['serverName'].unique())
print(point_df['returnerName'].unique())

if (len(point_df['serverName'].unique()) != 2):
    raise ValueError('Error: Mispelled Names')
    
if (len(point_df['returnerName'].unique()) != 2):
    raise ValueError('Error: Mispelled Names')

['Rudy Quan']
['Yuta Shimizu']
['Rudy Quan' 'Yuta Shimizu']
['Yuta Shimizu' 'Rudy Quan']

## Error Check 18: 
#### pointWonBy has value that is not one of the two player names
- References: first_player1Name, first_player2Name from above server info in point_df

In [78]:
print(point_df['pointWonBy'].unique())
none_pointWonBy_df = point_df[~point_df['pointWonBy'].isin([first_player1Name, first_player2Name])]

if none_pointWonBy_df.empty:
    print("Check passed.")
else:
    print("Error: Rows where pointWonBy is not by either player!")
    print(none_pointWonBy_df)

['Rudy Quan' 'Yuta Shimizu']
Check passed.

### Add Column: Break Point

In [79]:
break_point_values = ['0-40', '15-40', '30-40', '40-40']

# Create 'isBreakPoint' column in point_df
point_df['isBreakPoint'] = point_df['pointScore'].isin(break_point_values)

In [80]:
break_point_total = point_df['isBreakPoint'].sum()
print("Total break points:", break_point_total)
point_df[point_df['isBreakPoint'] == 1].head()

Total break points: 32

,pointNumber,player1Name,player2Name,pointScore,gameScore,setScore,tiebreakScore,side,serverName,returnerName,...,returnFhBh,errorType,returnError,lastShotDirection,lastShotFhBh,lastShotHitBy,lastShotResult,pointWonBy,isExcitingPoint,isBreakPoint
42,7,Rudy Quan,Yuta Shimizu,40-40,0-0,0-0,None,Deuce,Rudy Quan,Yuta Shimizu,...,Forehand,Wide Left,None,Down the Line,Forehand,Rudy Quan,Error,Yuta Shimizu,0.0,True
53,9,Rudy Quan,Yuta Shimizu,40-40,0-0,0-0,None,Deuce,Rudy Quan,Yuta Shimizu,...,Backhand,Long,None,Down the Line,Backhand,Yuta Shimizu,Error,Rudy Quan,0.0,True
68,11,Rudy Quan,Yuta Shimizu,40-40,0-0,0-0,None,Deuce,Rudy Quan,Yuta Shimizu,...,Forehand,Wide Right,None,Crosscourt,Forehand,Yuta Shimizu,Error,Rudy Quan,0.0,True
79,13,Rudy Quan,Yuta Shimizu,40-40,0-0,0-0,None,Deuce,Rudy Quan,Yuta Shimizu,...,Backhand,Net,None,Crosscourt,Forehand,Yuta Shimizu,Error,Rudy Quan,0.0,True
88,15,Rudy Quan,Yuta Shimizu,40-40,0-0,0-0,None,Deuce,Rudy Quan,Yuta Shimizu,...,Backhand,Long,Long,Crosscourt,Backhand,Yuta Shimizu,Error,Rudy Quan,0.0,True

## Warning: Do not use if atNetPlayer1 is in shot_data
### Add Column: atNetPlayer1, atNetPlayer2

- if below says atNetPlayer1: Uncomment below Code
- replace later with atNetPlayer1 atNetPlayer2

In [81]:
# Check if 'atNetPlayer1' exists in point_df
if 'atNetPlayer1' in shot_data.columns:
    print("Column 'atNetPlayer1' exists in point_df.")
else:
    raise ValueError("Column 'atNetPlayer1' does not exist in point_df.")


if 'atNetPlayer2' in shot_data.columns:
    print("Column 'atNetPlayer2' exists in point_df.")
else:
    raise ValueError("Column 'atNetPlayer2' does not exist in point_df.")

Column 'atNetPlayer1' exists in point_df.
Column 'atNetPlayer2' exists in point_df.

In [82]:
# Add atNetPlayer1 and atNetPlayer2 columns
# point_df['atNetPlayer1'] = 0
# point_df['atNetPlayer2'] = 0

for point_number in shot_data['pointNumber'].unique():
    # Check if firstServeIn is 1 for the given pointNumber in shot_data
    if any((shot_data['pointNumber'] == point_number) & (shot_data['atNetPlayer1'] == 1)):
        point_df.loc[point_df['pointNumber'] == point_number, 'atNetPlayer1'] = 1

    # Check if secondServeIn is 1 for the given pointNumber in shot_data
    if any((shot_data['pointNumber'] == point_number) & (shot_data['atNetPlayer2'] == 1)):
        point_df.loc[point_df['pointNumber'] == point_number, 'atNetPlayer2'] = 1

### Add Column: setNum

In [83]:
# Extract numbers from 'setScore' and calculate the sum plus 1
point_df['setNum'] = point_df['setScore'].apply(lambda x: sum(int(char) for char in x if char.isdigit()) + 1)

In [84]:
point_df.columns

Index(['pointNumber', 'player1Name', 'player2Name', 'pointScore', 'gameScore',
       'setScore', 'tiebreakScore', 'side', 'serverName', 'returnerName',
       'clientTeam', 'opponentTeam', 'Position', 'pointEndPosition',
       'Duration', 'rallyCount', 'rallyCountFreq', 'firstServeIn',
       'secondServeIn', 'serveResult', 'serveInPlacement', 'firstServeZone',
       'secondServeZone', 'isAce', 'serverFarNear', 'firstServeXCoord',
       'firstServeYCoord', 'secondServeXCoord', 'secondServeYCoord',
       'returnDirection', 'returnFhBh', 'errorType', 'returnError',
       'lastShotDirection', 'lastShotFhBh', 'lastShotHitBy', 'lastShotResult',
       'pointWonBy', 'isExcitingPoint', 'isBreakPoint', 'atNetPlayer2',
       'atNetPlayer1', 'setNum'],
      dtype='object')

### Add Column: Game Number, Set Number, Game/Set/Point for each player

In [85]:
point_df[['player1SetScore', 'player2SetScore']] = point_df['setScore'].str.split('-', expand=True)
point_df[['player1GameScore', 'player2GameScore']] = point_df['gameScore'].str.split('-', expand=True)
point_df[['player1PointScore', 'player2PointScore']] = point_df['pointScore'].str.split('-', expand=True)
if not point_df['tiebreakScore'].isnull().all() and not point_df['tiebreakScore'].eq("").all():
    # Perform the operation only when tiebreakScore is not empty
    point_df[['player1TiebreakScore', 'player2TiebreakScore']] = point_df['tiebreakScore'].str.split('-', expand=True)
else:
    # Set player1TiebreakScore and player2TiebreakScore to NaN
    point_df['player1TiebreakScore'] = np.nan
    point_df['player2TiebreakScore'] = np.nan
    
def calculate_game_number(score):
    return int(score.split('-')[0]) + int(score.split('-')[1])+1

# Apply the function to create the 'gameNumber' column
point_df['gameNumber'] = point_df['gameScore'].apply(calculate_game_number)

## Error Check 19: 
#### Output Game Number in order: Should be consecutive increasing. Ex: 1,2,3,4,5,6. End of Set 1. 1,2,3,4,5,6,7,8

In [86]:
game_numbers = point_df['gameNumber'].tolist()

# Initialize variables
seen = set()
prev = None

# Iterate through gameNumber column
for num in game_numbers:
    # If the number is not in seen or it's different from the previous one, print it
    if num not in seen or num != prev:
        print(num, end=', ')
    # If the number is the same as the previous one but not consecutive, print it
    elif num == prev and num not in seen:
        print(num, end=', ')
    # Update seen set and prev variable
    seen.add(num)
    prev = num

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9,

### Add Column: player1ServeResult

In [87]:
# Add the 'player1ServeResult' column
point_df['player1ServeResult'] = None

# Set player1ServeResult based on conditions
point_df.loc[point_df['serverName'] == point_df['player1Name'], 'player1ServeResult'] = point_df['serveResult']

In [88]:
point_df.loc[point_df['isAce'] == True, 'player1ServeResult'] = 'Ace'

### Add Column: player1ServePlacement

In [89]:
# Add the 'player1ServePlacement' column
point_df['player1ServePlacement'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['serverName'] == point_df['player1Name'], 'player1ServePlacement'] = point_df['side'] + ': ' + point_df['serveInPlacement']

### Add Column: player1ReturnPlacement

In [90]:
# Add the 'player1ReturnPlacement' column
point_df['player1ReturnPlacement'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['returnerName'] == point_df['player1Name'], 'player1ReturnPlacement'] = point_df['returnDirection']

### Add Column: player1ReturnFhBh

In [91]:
# Add the 'player1ReturnFhBh' column
point_df['player1ReturnFhBh'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['returnerName'] == point_df['player1Name'], 'player1ReturnFhBh'] = point_df['returnFhBh']

### Add Column: player1LastShotPlacement

In [92]:
# Add the 'player1LastShotFhBh' column
point_df['player1LastShotPlacement'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['lastShotHitBy'] == point_df['player1Name'], 'player1LastShotPlacement'] = point_df['lastShotDirection']

### Add Column: player1LastShotFhBh

In [93]:
# Add the 'player1LastShotFhBh' column
point_df['player1LastShotFhBh'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['lastShotHitBy'] == point_df['player1Name'], 'player1LastShotFhBh'] = point_df['lastShotFhBh']

### Add Column: player1LastShotResult

In [94]:
# Add the 'player1LastShotResult' column
point_df['player1LastShotResult'] = None

# Set player1LastShotResult based on conditions, excluding 'Ace' and 'Double Fault'
point_df.loc[
    (point_df['lastShotHitBy'] == point_df['player1Name']) & 
    ~point_df['player1ServeResult'].isin(['Ace', 'Double Fault']), 
    'player1LastShotResult'
] = point_df['lastShotResult']

In [95]:
# Add the 'player2ServeResult' column
point_df['player2ServeResult'] = None

# Set player1ServeResult based on conditions
point_df.loc[point_df['serverName'] == point_df['player2Name'], 'player2ServeResult'] = point_df['serveResult']

In [96]:
point_df.loc[point_df['isAce'] == True, 'player1ServeResult'] = 'Ace'

### Add Column: player2ServePlacement

In [97]:
# Add the 'player1ServePlacement' column
point_df['player2ServePlacement'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['serverName'] == point_df['player2Name'], 'player2ServePlacement'] = point_df['side'] + ': ' + point_df['serveInPlacement']

### Add Column: player2ReturnPlacement

In [98]:
# Add the 'player2ReturnPlacement' column
point_df['player2ReturnPlacement'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['returnerName'] == point_df['player2Name'], 'player2ReturnPlacement'] = point_df['returnDirection']

### Add Column: player2ReturnFhBh

In [99]:
# Add the 'player1ReturnFhBh' column
point_df['player2ReturnFhBh'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['returnerName'] == point_df['player2Name'], 'player2ReturnFhBh'] = point_df['returnFhBh']

### Add Column: player2LastShotPlacement

In [100]:
# Add the 'player1LastShotFhBh' column
point_df['player2LastShotPlacement'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['lastShotHitBy'] == point_df['player2Name'], 'player2LastShotPlacement'] = point_df['lastShotDirection']

### Add Column: player2LastShotFhBh

In [101]:
# Add the 'player1LastShotFhBh' column
point_df['player2LastShotFhBh'] = None

# Set player1ServePlacement based on conditions
point_df.loc[point_df['lastShotHitBy'] == point_df['player2Name'], 'player2LastShotFhBh'] = point_df['lastShotFhBh']

### Add Column: player2LastShotResult

In [102]:
# Add the 'player2LastShotResult' column
point_df['player2LastShotResult'] = None

# Set player1LastShotResult based on conditions, excluding 'Ace' and 'Double Fault'
point_df.loc[
    (point_df['lastShotHitBy'] == point_df['player2Name']) &
    ~point_df['player2ServeResult'].isin(['Ace', 'Double Fault']),
    'player2LastShotResult'
] = point_df['lastShotResult']

In [103]:
print(point_df[['setNum', 'gameScore','pointScore','player1ServePlacement','serveInPlacement']].head(10))

    setNum gameScore pointScore player1ServePlacement serveInPlacement
0        1       0-0        0-0           Deuce: Body             Body
6        1       0-0       15-0              Ad: Body             Body
11       1       0-0      15-15           Deuce: Body             Body
15       1       0-0      30-15                   NaN             None
22       1       0-0      30-30              Deuce: T                T
30       1       0-0      40-30              Ad: Body             Body
42       1       0-0      40-40              Deuce: T                T
49       1       0-0       40-A                 Ad: T                T
53       1       0-0      40-40           Deuce: Wide             Wide
63       1       0-0       A-40              Ad: Body             Body

In [104]:
print(point_df[['setNum', 'gameScore','pointScore','player1ServePlacement','serveInPlacement']].head(10))

    setNum gameScore pointScore player1ServePlacement serveInPlacement
0        1       0-0        0-0           Deuce: Body             Body
6        1       0-0       15-0              Ad: Body             Body
11       1       0-0      15-15           Deuce: Body             Body
15       1       0-0      30-15                   NaN             None
22       1       0-0      30-30              Deuce: T                T
30       1       0-0      40-30              Ad: Body             Body
42       1       0-0      40-40              Deuce: T                T
49       1       0-0       40-A                 Ad: T                T
53       1       0-0      40-40           Deuce: Wide             Wide
63       1       0-0       A-40              Ad: Body             Body

### Add Columns: Depths Count (Short, Deep)

In [105]:
# Add counts for each player on how many short and deep balls they hit in the point (group by pointNumber)
# - don't have to do long since we already know what points end with isErrorLong (and also isErrorNet)

## Add Column: Name (For Video)

In [106]:
# Change pointScore to the specified format
point_df['Name'] = point_df.apply(lambda row: f"Set {row['setNum']}: {row['gameScore']}, {row['tiebreakScore']} {row['serverName']} Serving" if pd.notna(row['tiebreakScore']) else f"Set {row['setNum']}: {row['gameScore']}, {row['pointScore']} {row['serverName']} Serving", axis=1)

In [107]:
point_df[['setNum', 'gameScore','pointScore','tiebreakScore','Name']].head(5)

,setNum,gameScore,pointScore,tiebreakScore,Name
0,1,0-0,0-0,None,"Set 1: 0-0, 0-0 Rudy Quan Serving"
6,1,0-0,15-0,None,"Set 1: 0-0, 15-0 Rudy Quan Serving"
11,1,0-0,15-15,None,"Set 1: 0-0, 15-15 Rudy Quan Serving"
15,1,0-0,30-15,None,"Set 1: 0-0, 30-15 Rudy Quan Serving"
22,1,0-0,30-30,None,"Set 1: 0-0, 30-30 Rudy Quan Serving"

In [108]:
point_df[['setNum', 'gameScore','pointScore','tiebreakScore','Name']].tail(5)

,setNum,gameScore,pointScore,tiebreakScore,Name
832,2,3-5,0-15,None,"Set 2: 3-5, 0-15 Rudy Quan Serving"
835,2,3-5,0-30,None,"Set 2: 3-5, 0-30 Rudy Quan Serving"
839,2,3-5,0-40,None,"Set 2: 3-5, 0-40 Rudy Quan Serving"
841,2,3-5,15-40,None,"Set 2: 3-5, 15-40 Rudy Quan Serving"
855,2,3-5,30-40,None,"Set 2: 3-5, 30-40 Rudy Quan Serving"

## Reorder DataFrame for Output

In [109]:
point_df_copy = point_df.copy()

In [110]:
point_df.shape

(135, 67)

In [111]:
point_df_copy.shape

(135, 67)

In [112]:
point_df.columns

Index(['pointNumber', 'player1Name', 'player2Name', 'pointScore', 'gameScore',
       'setScore', 'tiebreakScore', 'side', 'serverName', 'returnerName',
       'clientTeam', 'opponentTeam', 'Position', 'pointEndPosition',
       'Duration', 'rallyCount', 'rallyCountFreq', 'firstServeIn',
       'secondServeIn', 'serveResult', 'serveInPlacement', 'firstServeZone',
       'secondServeZone', 'isAce', 'serverFarNear', 'firstServeXCoord',
       'firstServeYCoord', 'secondServeXCoord', 'secondServeYCoord',
       'returnDirection', 'returnFhBh', 'errorType', 'returnError',
       'lastShotDirection', 'lastShotFhBh', 'lastShotHitBy', 'lastShotResult',
       'pointWonBy', 'isExcitingPoint', 'isBreakPoint', 'atNetPlayer2',
       'atNetPlayer1', 'setNum', 'player1SetScore', 'player2SetScore',
       'player1GameScore', 'player2GameScore', 'player1PointScore',
       'player2PointScore', 'player1TiebreakScore', 'player2TiebreakScore',
       'gameNumber', 'player1ServeResult', 'player1ServePlacement',
       'player1ReturnPlacement', 'player1ReturnFhBh',
       'player1LastShotPlacement', 'player1LastShotFhBh',
       'player1LastShotResult', 'player2ServeResult', 'player2ServePlacement',
       'player2ReturnPlacement', 'player2ReturnFhBh',
       'player2LastShotPlacement', 'player2LastShotFhBh',
       'player2LastShotResult', 'Name'],
      dtype='object')

In [113]:
desired_order = [
    'Name', 'pointNumber', 'setNum', 'gameNumber', 'player1Name', 'player2Name',
    'pointScore', 'gameScore', 'setScore', 'tiebreakScore', 'side', 'serverName',
    'returnerName', 'Position', 'pointEndPosition', 'Duration', 'pointWonBy',
    'rallyCount', 'rallyCountFreq', 'firstServeIn', 'secondServeIn',
    'serveResult', 'serveInPlacement', 'firstServeZone', 'secondServeZone',
    'isAce','serverFarNear', 'firstServeXCoord', 'firstServeYCoord', 'secondServeXCoord', 'secondServeYCoord','returnDirection', 'returnFhBh', 'errorType', 'returnError',
    'lastShotDirection', 'lastShotFhBh', 'lastShotHitBy', 'lastShotResult',
    'isBreakPoint', 'atNetPlayer1', 'atNetPlayer2', 'isExcitingPoint', 'player1SetScore',
    'player2SetScore', 'player1GameScore', 'player2GameScore', 'player1PointScore',
    'player2PointScore', 'player1TiebreakScore', 'player2TiebreakScore',
    'player1ServeResult', 'player1ServePlacement', 'player1ReturnPlacement',
    'player1ReturnFhBh', 'player1LastShotPlacement', 'player1LastShotFhBh',
    'player1LastShotResult', 'player2ServeResult', 'player2ServePlacement',
       'player2ReturnPlacement', 'player2ReturnFhBh',
       'player2LastShotPlacement', 'player2LastShotFhBh',
       'player2LastShotResult', 'clientTeam', 'opponentTeam'
]

# Reorder the columns
point_df = point_df.reindex(columns=desired_order)

## Error Check 20: 
#### Check if the columns and their order are the same

In [114]:
print(point_df.shape)
print(point_df_copy.shape)

if (point_df.shape == point_df_copy.shape):
    print('Check passed.')
else:
    raise ValueError('Error: Not the same!')

(135, 67)
(135, 67)
Check passed.

In [115]:
# Get the set of column names for each DataFrame
point_df_columns = set(point_df.columns)
point_df_copy_columns = set(point_df_copy.columns)

# Find the column names unique to each DataFrame
unique_to_point_df = point_df_columns - point_df_copy_columns
unique_to_point_df_copy = point_df_copy_columns - point_df_columns

# Output the results
if unique_to_point_df:
    print("Columns unique to point_df:", unique_to_point_df)
else:
    print("All columns in point_df are also in point_df_copy")

if unique_to_point_df_copy:
    print("Columns unique to point_df_copy:", unique_to_point_df_copy)
else:
    print("All columns in point_df_copy are also in point_df")

All columns in point_df are also in point_df_copy
All columns in point_df_copy are also in point_df

## Warning: All nan to ""
### Alterating Data

In [116]:
# Change Na to "" Empty String

# Assuming point_df is your DataFrame
point_df.replace([pd.NA, None, pd.NaT, float('nan')], "", inplace=True)

# Double Check before Outputting Point (FOR VISUAL)

In [117]:
print(point_df.head(5))

                                   Name  pointNumber  setNum  gameNumber  \
0     Set 1: 0-0, 0-0 Rudy Quan Serving            1       1           1
6    Set 1: 0-0, 15-0 Rudy Quan Serving            2       1           1
11  Set 1: 0-0, 15-15 Rudy Quan Serving            3       1           1
15  Set 1: 0-0, 30-15 Rudy Quan Serving            4       1           1
22  Set 1: 0-0, 30-30 Rudy Quan Serving            5       1           1

   player1Name   player2Name pointScore gameScore setScore tiebreakScore  ...  \
0    Rudy Quan  Yuta Shimizu        0-0       0-0      0-0                ...
6    Rudy Quan  Yuta Shimizu       15-0       0-0      0-0                ...
11   Rudy Quan  Yuta Shimizu      15-15       0-0      0-0                ...
15   Rudy Quan  Yuta Shimizu      30-15       0-0      0-0                ...
22   Rudy Quan  Yuta Shimizu      30-30       0-0      0-0                ...

   player1LastShotResult player2ServeResult player2ServePlacement  \
0
6                  Error
11
15
22

    player2ReturnPlacement player2ReturnFhBh player2LastShotPlacement  \
0            Down the Line          Forehand            Down the Line
6               Crosscourt          Forehand
11              Crosscourt          Forehand            Down the Line
15              Crosscourt          Forehand
22           Down the Line          Forehand            Down the Line

   player2LastShotFhBh  player2LastShotResult clientTeam  opponentTeam
0             Forehand                  Error       UCLA
6                                                   UCLA
11            Forehand                  Error       UCLA
15                                                  UCLA
22            Forehand                  Error       UCLA

[5 rows x 67 columns]

In [118]:
print(point_df.tail(5))

                                    Name  pointNumber  setNum  gameNumber  \
832   Set 2: 3-5, 0-15 Rudy Quan Serving          131       2           9
835   Set 2: 3-5, 0-30 Rudy Quan Serving          132       2           9
839   Set 2: 3-5, 0-40 Rudy Quan Serving          133       2           9
841  Set 2: 3-5, 15-40 Rudy Quan Serving          134       2           9
855  Set 2: 3-5, 30-40 Rudy Quan Serving          135       2           9

    player1Name   player2Name pointScore gameScore setScore tiebreakScore  \
832   Rudy Quan  Yuta Shimizu       0-15       3-5      0-1
835   Rudy Quan  Yuta Shimizu       0-30       3-5      0-1
839   Rudy Quan  Yuta Shimizu       0-40       3-5      0-1
841   Rudy Quan  Yuta Shimizu      15-40       3-5      0-1
855   Rudy Quan  Yuta Shimizu      30-40       3-5      0-1

     ... player1LastShotResult player2ServeResult player2ServePlacement  \
832  ...                 Error
835  ...
839  ...
841  ...
855  ...                 Error

     player2ReturnPlacement player2ReturnFhBh player2LastShotPlacement  \
832              Crosscourt          Backhand
835              Crosscourt          Backhand            Down the Line
839           Down the Line          Backhand            Down the Line
841           Down the Line          Backhand               Crosscourt
855              Crosscourt          Forehand

    player2LastShotFhBh  player2LastShotResult clientTeam  opponentTeam
832                                                  UCLA
835            Forehand                 Winner       UCLA
839            Backhand                  Error       UCLA
841            Forehand                  Error       UCLA
855                                                  UCLA

[5 rows x 67 columns]

In [119]:
# Change Value Names for Match Viewer Output

# Assuming point_df is your DataFrame and player1Name is the name from the first row
player1Name = point_df.iloc[0]['player1Name']
player2Name = point_df.iloc[0]['player2Name']

# Replace values in the 'atNetPlayer1' column
point_df['atNetPlayer1'] = point_df['atNetPlayer1'].replace({0: "", 1: player1Name})
point_df['atNetPlayer2'] = point_df['atNetPlayer2'].replace({0: "", 1: player2Name})

# PRINT POINTCSV VISUALS

In [120]:
# Save point_df to CSV file

# Assuming point_df is your DataFrame and player1Name and player2Name are the names from the first row
player1NameNoSpace = point_df.iloc[0]['player1Name'].replace(" ", "")
player2NameNoSpace = point_df.iloc[0]['player2Name'].replace(" ", "")

# Save DataFrame to CSV file with modified player names
point_df.to_csv(f'Point_Visuals_{player1NameNoSpace}_{player2NameNoSpace}.csv', index=False)

In [121]:
def csv_to_json(csv_file_path, json_file_name):
    # Load CSV file into a pandas DataFrame
    df = pd.read_csv(csv_file_path)
    
    # Convert DataFrame to JSON format
    json_data = df.to_json(orient='records')
    
    # Save JSON data to a file in the same directory
    json_file_path = f'{json_file_name}'
    with open(json_file_path, 'w') as json_file:
        json_file.write(json_data)
    
    return json_file_path

# Define the CSV file path
csv_file_path = f"Point_Visuals_{player1NameNoSpace}_{player2NameNoSpace}.csv"

# Define the desired JSON file name (without extension)
json_file_name = f"Point_Visuals_{player1NameNoSpace}_{player2NameNoSpace}.json"

# Convert CSV to JSON and save in the same directory
output_file_path = csv_to_json(csv_file_path, json_file_name)

# Display the path where the JSON file is saved
output_file_path

'Point_Visuals_RudyQuan_YutaShimizu.json'

# EDA

## Shot CSV EDA

In [122]:
# Can input CSV Directly here for statistics functions

# your_file_name = "filename.csv"
# shot_eda = pd.read_csv(your_file_name)

# if directly from notebook
shot_eda = shot_data.copy()

In [123]:
player1Name = shot_eda.iloc[0]['player1Name']

# Filter shot_data based on the conditions
approach_data_player1 = shot_eda[(shot_eda['isApproach'] == 1) & (shot_eda['shotHitBy'] == player1Name)]

# Count the distinct pointNumbers
distinct_point_numbers = approach_data_player1['pointNumber'].nunique()

# Print the result
print(f"Number of Approach Shots hit by {player1Name}: {distinct_point_numbers}" )

# print(approach_data_player1)

Number of Approach Shots hit by Rudy Quan: 1

## Point CSV EDA

In [124]:
# # Can input CSV Directly here for statistics functions
# import pandas as pd
# your_file_name = "Point_Visuals_Anne-ChristineLutkemeyer_SehaYu.csv"
# point_df_eda = pd.read_csv(your_file_name)

# # OR MAKE point_df_eda copy of point_df

point_df_eda = point_df.copy()

In [125]:
print(point_df_eda.columns)

Index(['Name', 'pointNumber', 'setNum', 'gameNumber', 'player1Name',
       'player2Name', 'pointScore', 'gameScore', 'setScore', 'tiebreakScore',
       'side', 'serverName', 'returnerName', 'Position', 'pointEndPosition',
       'Duration', 'pointWonBy', 'rallyCount', 'rallyCountFreq',
       'firstServeIn', 'secondServeIn', 'serveResult', 'serveInPlacement',
       'firstServeZone', 'secondServeZone', 'isAce', 'serverFarNear',
       'firstServeXCoord', 'firstServeYCoord', 'secondServeXCoord',
       'secondServeYCoord', 'returnDirection', 'returnFhBh', 'errorType',
       'returnError', 'lastShotDirection', 'lastShotFhBh', 'lastShotHitBy',
       'lastShotResult', 'isBreakPoint', 'atNetPlayer1', 'atNetPlayer2',
       'isExcitingPoint', 'player1SetScore', 'player2SetScore',
       'player1GameScore', 'player2GameScore', 'player1PointScore',
       'player2PointScore', 'player1TiebreakScore', 'player2TiebreakScore',
       'player1ServeResult', 'player1ServePlacement', 'player1ReturnPlacement',
       'player1ReturnFhBh', 'player1LastShotPlacement', 'player1LastShotFhBh',
       'player1LastShotResult', 'player2ServeResult', 'player2ServePlacement',
       'player2ReturnPlacement', 'player2ReturnFhBh',
       'player2LastShotPlacement', 'player2LastShotFhBh',
       'player2LastShotResult', 'clientTeam', 'opponentTeam'],
      dtype='object')

In [126]:
serve_in_rows = point_df_eda[(point_df_eda['serveResult'] == '1st Serve In') | (point_df_eda['serveResult'] == '2nd Serve In')]

# filter the rows where rallyCount column is equal to 1
desired_rows = serve_in_rows[serve_in_rows['rallyCount'] == 1]

# print each row
for index, row in desired_rows.iterrows():
    print(row[['pointNumber', 'setNum', 'gameNumber','serveResult','rallyCount' ,'serverName']])

pointNumber              47
setNum                    1
gameNumber                6
serveResult    1st Serve In
rallyCount                1
serverName     Yuta Shimizu
Name: 324, dtype: object
pointNumber              66
setNum                    1
gameNumber               10
serveResult    1st Serve In
rallyCount                1
serverName     Yuta Shimizu
Name: 434, dtype: object
pointNumber             121
setNum                    2
gameNumber                7
serveResult    1st Serve In
rallyCount                1
serverName        Rudy Quan
Name: 790, dtype: object
pointNumber             125
setNum                    2
gameNumber                8
serveResult    1st Serve In
rallyCount                1
serverName     Yuta Shimizu
Name: 808, dtype: object

In [127]:
first_player1Name = point_df_eda['player1Name'].iloc[0]



# Display the results
print(f"\nServe Results for {first_player1Name}:")

# Assuming point_df_eda is your DataFrame
total_serves = len(point_df_eda[point_df_eda['serverName'] == first_player1Name])
first_serve_in_count = len(point_df_eda[(point_df_eda['serverName'] == first_player1Name) & (point_df_eda['firstServeIn'] == 1)])
first_serve_won_count = len(point_df_eda[(point_df_eda['serverName'] == first_player1Name) & (point_df_eda['firstServeIn'] == 1) & (point_df_eda['pointWonBy'] == first_player1Name)])
percentage_first_serve_in = (first_serve_in_count / total_serves) * 100 if total_serves > 0 else 0
percentage_first_serve_won = (first_serve_won_count / first_serve_in_count) * 100 if first_serve_in_count > 0 else 0

second_serve_total_count = len(point_df_eda[(point_df_eda['serverName'] == first_player1Name) & (point_df_eda['firstServeIn'] == 0)])
second_serve_in_count = len(point_df_eda[(point_df_eda['serverName'] == first_player1Name) & (point_df_eda['firstServeIn'] == 0)& (point_df_eda['secondServeIn'] == 1)])
second_serve_won_count = len(point_df_eda[(point_df_eda['serverName'] == first_player1Name) & (point_df_eda['firstServeIn'] == 0)& (point_df_eda['secondServeIn'] == 1) & (point_df_eda['pointWonBy'] == first_player1Name)])
percentage_second_serve_in = (second_serve_in_count / second_serve_total_count) * 100 if second_serve_total_count > 0 else 0
percentage_second_serve_won = (second_serve_won_count / second_serve_in_count) * 100 if second_serve_in_count > 0 else 0



# Display the results
print("\nTotal Serves:", total_serves)
print("First Serve In (Count):", first_serve_in_count)
print("First Serve Won (Count):", first_serve_won_count)
print(f"First Serve In (%): {percentage_first_serve_in:.2f}%")
print(f"First Serve Won (%): {percentage_first_serve_won:.2f}%")

print("Second Serve In (Count):", second_serve_in_count)
print("Second Serve Total (Count):", second_serve_total_count)
print("Second Serve Won (Count):", second_serve_won_count)
print(f"Second Serve In (%): {percentage_second_serve_in:.2f}%")
print(f"Second Serve Won (%): {percentage_second_serve_won:.2f}%")

# Assuming point_df is your DataFrame
count_is_ace = (point_df_eda[point_df_eda['serverName'] == first_player1Name]['isAce']).sum()
count_is_double_fault = ((point_df_eda['serverName'] == first_player1Name) & (point_df_eda['serveResult'] == "Double Fault")).sum()

# Display the results
print("Ace (Count):", count_is_ace)
print("Double Fault (Count):", count_is_double_fault)

# Count of rows where serverName is equal to the first row of player1Name and pointWonBy is equal to the first row of player1Name
total_service_points_won = len(point_df_eda[(point_df_eda['serverName'] == first_player1Name) & (point_df_eda['pointWonBy'] == first_player1Name)])
total_service_points_won_percentage = total_service_points_won / total_serves *100

# Display the results
print(f"Points Won on Serve (Count) {total_service_points_won}")

print(f"Points Won on Serve (%): {total_service_points_won_percentage:.2f}%")

# Assuming point_df is your DataFrame
return_points = point_df_eda[(point_df_eda['returnerName'] == first_player1Name)] # CHANGED THIS JERRY, REMOVED RALLY COUNT >= 2

total_return = len(return_points)
returnMade = len(return_points[(return_points['rallyCount'] > 2) | ((return_points['rallyCount'] == 2) & (return_points['lastShotResult'] != 'Error'))])
returnError = len(return_points[(return_points['lastShotResult'] == 'Error') & (return_points['rallyCount'] == 2)])
returnWinner = len(return_points[(return_points['lastShotResult'] == 'Winner') & (return_points['rallyCount'] == 2)])
returnMadePercentage = returnMade/total_return

returnWonByPlayer1 = len(return_points[return_points['pointWonBy'] == first_player1Name])
returnWonByPlayer1Percentage = returnWonByPlayer1 / returnMade * 100 if returnMade > 0 else 0

deuceReturnCount = len(return_points[return_points['side'] == 'Deuce'])
adReturnCount = len(return_points[return_points['side'] == 'Ad'])


deuceReturnMade = len(return_points[(return_points['side'] == 'Deuce') & ((return_points['rallyCount'] > 2) | ((return_points['rallyCount'] == 2) & (return_points['lastShotResult'] != 'Error')))])
adReturnMade = len(return_points[(return_points['side'] == 'Ad') & ((return_points['rallyCount'] > 2) | ((return_points['rallyCount'] == 2) & (return_points['lastShotResult'] != 'Error')))])

deuceReturnMadePercentage = deuceReturnMade/deuceReturnCount
adReturnMadePercentage = adReturnMade/adReturnCount

deuceReturnWonByPlayer1 = len(return_points[(return_points['side'] == 'Deuce') & (return_points['pointWonBy'] == first_player1Name) | ((return_points['rallyCount'] == 2) & (return_points['lastShotResult'] != 'Error'))])
adReturnWonByPlayer1 = len(return_points[(return_points['side'] == 'Ad') & (return_points['pointWonBy'] == first_player1Name) | ((return_points['rallyCount'] == 2) & (return_points['lastShotResult'] != 'Error'))])

deuceReturnWonByPlayer1Percentage = deuceReturnWonByPlayer1 / deuceReturnMade * 100 if deuceReturnMade > 0 else 0
adReturnWonByPlayer1Percentage = adReturnWonByPlayer1 / adReturnMade * 100 if adReturnMade > 0 else 0




print(f"\nReturn Results for {first_player1Name}:\n")

print("Total Return (Count):", total_return)
print("Return Won (Count):", returnWonByPlayer1)
print("Return Won (%):", returnWonByPlayer1Percentage)

print("\nReturn Made (Count):", returnMade)
print("Return Made (%):", returnMadePercentage)
print("Return Error (Count):", returnError)
print("Return Winner (Count):", returnWinner)

print("\nDeuce Return (Count):", deuceReturnCount)
print("Deuce Return Made (Count):", deuceReturnMade)
print("Deuce Return Made (%):", deuceReturnMadePercentage)
print("Deuce Return Won by Player1 (%):", deuceReturnWonByPlayer1Percentage)
print("Deuce Return Won by Player1 (Count):", deuceReturnWonByPlayer1)


print("\nAd Return (Count):", adReturnCount)
print("Ad Return Made (Count):", adReturnMade)
print("Ad Return Made (%):", adReturnMadePercentage)
print("Ad Return Won by Player1 (Count):", adReturnWonByPlayer1)
print("Ad Return Won by Player1 (%):", adReturnWonByPlayer1Percentage)

# Assuming return_points is your DataFrame
deuce_return_points = return_points[(return_points['side'] == 'Deuce') & (return_points['returnerName'] == first_player1Name) & (return_points['rallyCount'] >= 2)]

# Deuce Return Points Separated by returnFhBh
deuce_forehand_return_points = deuce_return_points[deuce_return_points['returnFhBh'] == 'Forehand']
deuce_backhand_return_points = deuce_return_points[deuce_return_points['returnFhBh'] == 'Backhand']


# Count for Deuce Return Points - Made
count_deuce_forehand_made = len(deuce_forehand_return_points[(deuce_forehand_return_points['rallyCount'] > 2) | ((deuce_forehand_return_points['rallyCount'] == 2) & (deuce_forehand_return_points['lastShotResult'] != 'Error'))])
count_deuce_backhand_made = len(deuce_backhand_return_points[(deuce_backhand_return_points['rallyCount'] > 2) | ((deuce_backhand_return_points['rallyCount'] == 2) & (deuce_backhand_return_points['lastShotResult'] != 'Error'))])

# Count for Deuce Return Points - Error
count_deuce_forehand_error = len(deuce_forehand_return_points[(deuce_forehand_return_points['lastShotResult'] == 'Error') & (deuce_forehand_return_points['rallyCount'] == 2)])
count_deuce_backhand_error = len(deuce_backhand_return_points[(deuce_backhand_return_points['lastShotResult'] == 'Error') & (deuce_backhand_return_points['rallyCount'] == 2)])

# Display the counts
print("\nDeuce Forehand Return Points - Made:", count_deuce_forehand_made)
print("Deuce Forehand Return Points - Error:", count_deuce_forehand_error)

print("Deuce Backhand Return Points - Made:", count_deuce_backhand_made)
print("Deuce Backhand Return Points - Error:", count_deuce_backhand_error)

# Assuming return_points is your DataFrame
ad_return_points = return_points[(return_points['side'] == 'Ad') & (return_points['returnerName'] == first_player1Name) & (return_points['rallyCount'] >= 2)]

# Ad Return Points Separated by returnFhBh
ad_forehand_return_points = ad_return_points[ad_return_points['returnFhBh'] == 'Forehand']
ad_backhand_return_points = ad_return_points[ad_return_points['returnFhBh'] == 'Backhand']

# Count for Ad Return Points - Made
count_ad_forehand_made = len(ad_forehand_return_points[(ad_forehand_return_points['rallyCount'] > 2) | ((ad_forehand_return_points['rallyCount'] == 2) & (ad_forehand_return_points['lastShotResult'] != 'Error'))])
count_ad_backhand_made = len(ad_backhand_return_points[(ad_backhand_return_points['rallyCount'] > 2) | ((ad_backhand_return_points['rallyCount'] == 2) & (ad_backhand_return_points['lastShotResult'] != 'Error'))])

# Count for Ad Return Points - Error
count_ad_forehand_error = len(ad_forehand_return_points[(ad_forehand_return_points['lastShotResult'] == 'Error') & (ad_forehand_return_points['rallyCount'] == 2)])
count_ad_backhand_error = len(ad_backhand_return_points[(ad_backhand_return_points['lastShotResult'] == 'Error') & (ad_backhand_return_points['rallyCount'] == 2)])

# Display the counts
print("\nAd Forehand Return Points - Made:", count_ad_forehand_made)
print("Ad Forehand Return Points - Error:", count_ad_forehand_error)

print("Ad Backhand Return Points - Made:", count_ad_backhand_made)
print("Ad Backhand Return Points - Error:", count_ad_backhand_error)

print(f"\nAt Net Results for {first_player1Name}:\n")


# Total points where atNetPlayer1 = first_player1Name
total_at_net_player1 = len(point_df_eda[point_df_eda['atNetPlayer1'] == first_player1Name])

# Percentage of points where atNetPlayer1 = 1 out of total points
percentage_at_net_player1 = (total_at_net_player1 / len(point_df_eda)) * 100 if len(point_df_eda) > 0 else 0

# Display the total count and percentage of points where atNetPlayer1 = 1
print(f"Total Net Points for {first_player1Name}: {total_at_net_player1}")
print(f"Percentage of Net Points for {first_player1Name}: {percentage_at_net_player1:.2f}%")

# Points where atNetPlayer1 = first_player1Name and pointWonBy = first_player1Name
at_net_player1_and_won_by_player1 = len(point_df_eda[(point_df_eda['atNetPlayer1'] == first_player1Name) & (point_df_eda['pointWonBy'] == first_player1Name)])

# Percentage of points where atNetPlayer1 = first_player1Name and pointWonBy = first_player1Name out of total points where atNetPlayer1 = 1
percentage_at_net_player1_and_won_by_player1 = (at_net_player1_and_won_by_player1 / total_at_net_player1) * 100 if total_at_net_player1 > 0 else 0

# Display the count and percentage of points where atNetPlayer1 = 1 and pointWonBy = first_player1Name
print(f"\nTotal Net Points won by {first_player1Name}: {at_net_player1_and_won_by_player1}")
print(f"Percentage of Net Points won by {first_player1Name}: {percentage_at_net_player1_and_won_by_player1:.2f}%")

Serve Results for Rudy Quan:

Total Serves: 80
First Serve In (Count): 64
First Serve Won (Count): 31
First Serve In (%): 80.00%
First Serve Won (%): 48.44%
Second Serve In (Count): 12
Second Serve Total (Count): 16
Second Serve Won (Count): 5
Second Serve In (%): 75.00%
Second Serve Won (%): 41.67%
Ace (Count): 1
Double Fault (Count): 4
Points Won on Serve (Count) 36
Points Won on Serve (%): 45.00%

Return Results for Rudy Quan:

Total Return (Count): 55
Return Won (Count): 25
Return Won (%): 56.81818181818182

Return Made (Count): 44
Return Made (%): 0.8
Return Error (Count): 6
Return Winner (Count): 0

Deuce Return (Count): 29
Deuce Return Made (Count): 22
Deuce Return Made (%): 0.7586206896551724
Deuce Return Won by Player1 (%): 72.72727272727273
Deuce Return Won by Player1 (Count): 16

Ad Return (Count): 26
Ad Return Made (Count): 22
Ad Return Made (%): 0.8461538461538461
Ad Return Won by Player1 (Count): 9
Ad Return Won by Player1 (%): 40.909090909090914

Deuce Forehand Return Points - Made: 9
Deuce Forehand Return Points - Error: 1
Deuce Backhand Return Points - Made: 13
Deuce Backhand Return Points - Error: 2

Ad Forehand Return Points - Made: 3
Ad Forehand Return Points - Error: 1
Ad Backhand Return Points - Made: 19
Ad Backhand Return Points - Error: 2

At Net Results for Rudy Quan:

Total Net Points for Rudy Quan: 3
Percentage of Net Points for Rudy Quan: 2.22%

Total Net Points won by Rudy Quan: 1
Percentage of Net Points won by Rudy Quan: 33.33%

In [128]:
# Caitlin Breakpoint Data

# points_returned = point_df_eda[point_df_eda[]]

# print(f"\nBreakpoint Results for {first_player1Name}:\n")

# # Total points where isBreakPoint = 1
# total_breakpoint = len(point_df_eda[point_df_eda['isBreakPoint'] == 1])

# # Points where isBreakPoint = 1 and pointWonBy = first_player1Name
# breakpoint_and_won_by_player1 = len(point_df_eda[(point_df_eda['isBreakPoint'] == 1) & (point_df_eda['pointWonBy'] == first_player1Name)])

# # Percentage of points where isBreakPoint = 1 and pointWonBy = first_player1Name out of total points where isBreakPoint = 1
# percentage_breakpoint_and_won_by_player1 = (breakpoint_and_won_by_player1 / total_breakpoint) * 100 if total_breakpoint > 0 else 0

# # Display the total count of points where isBreakPoint = 1
# print(f"Total Breakpoints: {total_breakpoint}")

# # Display the count and percentage of points where isBreakPoint = 1 and pointWonBy = first_player1Name
# print(f"Total Breakpoints won by {first_player1Name}: {breakpoint_and_won_by_player1}")
# print(f"Percentage of Breakpoints won by {first_player1Name}: {percentage_breakpoint_and_won_by_player1:.2f}%")

# # Total points where isBreakPoint = 1 and serverName = first_player1Name
# total_breakpoint_serve = len(point_df_eda[(point_df_eda['isBreakPoint'] == 1) & (point_df_eda['serverName'] == first_player1Name)])

# # Points where isBreakPoint = 1, serverName = first_player1Name, and pointWonBy = first_player1Name
# breakpoint_and_won_by_player1_serve = len(point_df_eda[(point_df_eda['isBreakPoint'] == 1) & (point_df_eda['serverName'] == first_player1Name) & (point_df_eda['pointWonBy'] == first_player1Name)])

# # Percentage of points where isBreakPoint = 1, serverName = first_player1Name, and pointWonBy = first_player1Name out of total points where isBreakPoint = 1 and serverName = first_player1Name
# percentage_breakpoint_and_won_by_player1_serve = (breakpoint_and_won_by_player1_serve / total_breakpoint_serve) * 100 if total_breakpoint_serve > 0 else 0

# # Display the total count of points where isBreakPoint = 1 and serverName = first_player1Name
# print(f"\nTotal Breakpoints on Serve for {first_player1Name}: {total_breakpoint_serve}")

# # Display the count and percentage of points where isBreakPoint = 1, serverName = first_player1Name, and pointWonBy = first_player1Name
# print(f"Total Breakpoints won on Serve by {first_player1Name}: {breakpoint_and_won_by_player1_serve}")
# print(f"Percentage of Breakpoints won on Serve by {first_player1Name}: {percentage_breakpoint_and_won_by_player1_serve:.2f}%")

# Total points where isBreakPoint = 1 and returnerName = first_player1Name
total_breakpoint_return = len(point_df_eda[(point_df_eda['isBreakPoint'] == 1) & (point_df_eda['returnerName'] == first_player1Name)])

# Points where isBreakPoint = 1, returnerName = first_player1Name, and pointWonBy = first_player1Name
breakpoint_and_won_by_player1_return = len(point_df_eda[(point_df_eda['isBreakPoint'] == 1) & (point_df_eda['returnerName'] == first_player1Name) & (point_df_eda['pointWonBy'] == first_player1Name)])

# Percentage of points where isBreakPoint = 1, returnerName = first_player1Name, and pointWonBy = first_player1Name out of total points where isBreakPoint = 1 and returnerName = first_player1Name
percentage_breakpoint_and_won_by_player1_return = (breakpoint_and_won_by_player1_return / total_breakpoint_return) * 100 if total_breakpoint_return > 0 else 0

# Display the total count of points where isBreakPoint = 1 and returnerName = first_player1Name
print(f"\nTotal Breakpoints on Return for {first_player1Name}: {total_breakpoint_return}")

# Display the count and percentage of points where isBreakPoint = 1, returnerName = first_player1Name, and pointWonBy = first_player1Name
print(f"Total Breakpoints won on Return by {first_player1Name}: {breakpoint_and_won_by_player1_return}")
print(f"Percentage of Breakpoints won on Return by {first_player1Name}: {percentage_breakpoint_and_won_by_player1_return:.2f}%")

# Jimmy Returning Games Won
# games won/returning games by Jimmy Hou

points_returned = point_df_eda[point_df_eda["returnerName"] == first_player1Name]

# # Return percentage won on first serve
# first_serves_won = points_returned[(points_returned['firstServeIn'] == 1) & (points_returned['pointWonBy'] == first_player1Name)]
# total_first_serves = points_returned[points_returned['firstServeIn'] == 1]
# fs_won_per_player1 = 100 * len(first_serves_won) / len(total_first_serves)
# # print(f"\n{player1} won {fs_won_per_player1:.2f}% of first serves returned.")
# print(f"\nPerecentage of Breakpoinnts won by {first_player1Name} on Return when returning a first serve: {fs_won_per_player1:.2f}%")

# # Return percentage won on second serve
# second_serves_won = points_returned[(points_returned['secondServeIn'] == 1) & (points_returned['pointWonBy'] == first_player1Name)]
# total_second_serves = points_returned[points_returned['secondServeIn'] == 1]
# ss_won_per_player1 = 100 * len(second_serves_won) / len(total_second_serves)
# # print(f"{player1} won {ss_won_per_player1:.2f}% of second serves returned."
# print(f"Perecentage of Breakpoinnts won by {first_player1Name} on Return when returning a second serve: {ss_won_per_player1:.2f}%")

Total Breakpoints on Return for Rudy Quan: 8
Total Breakpoints won on Return by Rudy Quan: 4
Percentage of Breakpoints won on Return by Rudy Quan: 50.00%

In [129]:
point_df_eda.columns

Index(['Name', 'pointNumber', 'setNum', 'gameNumber', 'player1Name',
       'player2Name', 'pointScore', 'gameScore', 'setScore', 'tiebreakScore',
       'side', 'serverName', 'returnerName', 'Position', 'pointEndPosition',
       'Duration', 'pointWonBy', 'rallyCount', 'rallyCountFreq',
       'firstServeIn', 'secondServeIn', 'serveResult', 'serveInPlacement',
       'firstServeZone', 'secondServeZone', 'isAce', 'serverFarNear',
       'firstServeXCoord', 'firstServeYCoord', 'secondServeXCoord',
       'secondServeYCoord', 'returnDirection', 'returnFhBh', 'errorType',
       'returnError', 'lastShotDirection', 'lastShotFhBh', 'lastShotHitBy',
       'lastShotResult', 'isBreakPoint', 'atNetPlayer1', 'atNetPlayer2',
       'isExcitingPoint', 'player1SetScore', 'player2SetScore',
       'player1GameScore', 'player2GameScore', 'player1PointScore',
       'player2PointScore', 'player1TiebreakScore', 'player2TiebreakScore',
       'player1ServeResult', 'player1ServePlacement', 'player1ReturnPlacement',
       'player1ReturnFhBh', 'player1LastShotPlacement', 'player1LastShotFhBh',
       'player1LastShotResult', 'player2ServeResult', 'player2ServePlacement',
       'player2ReturnPlacement', 'player2ReturnFhBh',
       'player2LastShotPlacement', 'player2LastShotFhBh',
       'player2LastShotResult', 'clientTeam', 'opponentTeam'],
      dtype='object')

In [130]:
# Filter points where serverName is equal to first_player1Name
filtered_points = point_df[point_df['serverName'] == first_player1Name]

# Group the filtered points by player1ServePlacement and count the occurrences
serve_placement_counts = filtered_points.groupby('player1ServePlacement').size()

serve_placements_ad = serve_placement_counts.filter(like='Ad').sum()
serve_placements_deuce = serve_placement_counts.filter(like='Deuce').sum()

# Iterate over filtered_points
for index, point in filtered_points.iterrows():
    serve_placement = point['player1ServePlacement']

    # Check if serve placement is not in serve_placement_counts
    if serve_placement not in serve_placement_counts:
        print(point)


# Initialize dictionaries to store counts and percentages
point_won_counts = {}
point_won_percentages = {}
print(f"Total {len(filtered_points)}")

# Iterate over serve placements
for serve_placement, count in serve_placement_counts.items():
    # Filter points with the specific serve placement
    serve_placement_points = filtered_points[filtered_points['player1ServePlacement'] == serve_placement]
    
    # Count points won by first_player1Name
    point_won_count = serve_placement_points[serve_placement_points['pointWonBy'] == first_player1Name].shape[0]

    # Calculate percentage
    point_won_percentage = (point_won_count / count) * 100 if count > 0 else 0

    # Store counts and percentages
    point_won_counts[serve_placement] = point_won_count
    point_won_percentages[serve_placement] = point_won_percentage
    


    
    
# Filter serve placements for Ad and Deuce [CHANGED: BRIAN NTOES]
serve_placements_ad = serve_placement_counts.filter(like='Ad').sum()
serve_placements_deuce = serve_placement_counts.filter(like='Deuce').sum()    

# Print counts and percentages [CHANGED: BRIAN NOTES]
for serve_placement, count in serve_placement_counts.items():
    print(f"Serve Placement: {serve_placement}")
    print(f"Total Serves: {count}")
    
    if "Deuce" in serve_placement: # [CHANGED: BRIAN NOTES]
        deuce_serve_format_number = f"{count/serve_placements_deuce:.2f}"
        deuce_serve_percent = round(float(deuce_serve_format_number) * 100,2)
        print(f"Serve Frequency: {deuce_serve_percent}% ({count}/{serve_placements_deuce}) Deuce Serves")
    if "Ad" in serve_placement: # [CHANGED: BRIAN NOTES]
        ad_serve_format_number = f"{count/serve_placements_ad:.2f}"
        ad_serve_percent = round(float(ad_serve_format_number) * 100,2)
        print(f"Serve Frequency: {ad_serve_percent}% ({count}/{serve_placements_ad}) Ad Serves")
        
    print(f"Serves Won by {first_player1Name}: {point_won_counts.get(serve_placement, 0)}")
    print(f"Percentage: {point_won_percentages.get(serve_placement, 0):.2f}%\n")

    
# print("This is Ad count: " + str(len(point_df[(point_df['serverName'] == first_player1Name) & (point_df['side'] == 'Ad')])))
# print("This is Deuce count: " + str(len(point_df[(point_df['serverName'] == first_player1Name) & (point_df['side'] == 'Deuce')])))

Total 80
Serve Placement:
Total Serves: 2
Serves Won by Rudy Quan: 0
Percentage: 0.00%

Serve Placement: Ad: Body
Total Serves: 23
Serve Frequency: 61.0% (23/38) Ad Serves
Serves Won by Rudy Quan: 7
Percentage: 30.43%

Serve Placement: Ad: T
Total Serves: 11
Serve Frequency: 29.0% (11/38) Ad Serves
Serves Won by Rudy Quan: 5
Percentage: 45.45%

Serve Placement: Ad: Wide
Total Serves: 4
Serve Frequency: 11.0% (4/38) Ad Serves
Serves Won by Rudy Quan: 0
Percentage: 0.00%

Serve Placement: Deuce: Body
Total Serves: 24
Serve Frequency: 60.0% (24/40) Deuce Serves
Serves Won by Rudy Quan: 15
Percentage: 62.50%

Serve Placement: Deuce: T
Total Serves: 7
Serve Frequency: 17.0% (7/40) Deuce Serves
Serves Won by Rudy Quan: 4
Percentage: 57.14%

Serve Placement: Deuce: Wide
Total Serves: 9
Serve Frequency: 23.0% (9/40) Deuce Serves
Serves Won by Rudy Quan: 5
Percentage: 55.56%

In [135]:
from fpdf import FPDF
import pandas as pd

# Variables that will be passed into the code
first_player1Name = "UCLA"  # Replace this with the actual player name
opponent_name = "Opp"  # Opponent name input, user can modify it here

# Create PDF
pdf = FPDF()
pdf.add_page()

# Title
pdf.set_font("Arial", size=14, style='B')
pdf.cell(200, 10, txt="Match Report Summary", ln=True, align='C')
pdf.ln(5)

# Match players and score
pdf.set_font("Arial", size=12)
pdf.cell(200, 10, txt=f"{first_player1Name} (w) v. {opponent_name} (Opp)", ln=True, align='C')
pdf.cell(200, 10, txt="0-0 0-0 0-0", ln=True, align='C')
pdf.ln(10)

# Returns Section
pdf.set_font("Arial", size=11, style='B')
pdf.cell(100, 10, txt="Returns", ln=False, align='L')
pdf.set_font("Arial", size=11, style='B')
pdf.cell(0, 10, txt="Errors", ln=True, align='L')
pdf.ln(5)

# Total Return Stats
pdf.set_font("Arial", size=11)
pdf.cell(100, 10, txt=f"Total Return Made: {returnMadePercentage:.2f}% ({total_return})", ln=False, align='L')
pdf.cell(0, 10, txt=f"Total errors: {total_error_counts}", ln=True, align='L')

pdf.cell(100, 10, txt=f"Total Return Won: {returnWonByPlayer1Percentage:.2f}% ({returnWonByPlayer1})", ln=True, align='L')

# Deuce and Ad Return Stats
pdf.cell(100, 10, txt=f"Deuce Return Made: {deuceReturnMadePercentage:.2f}%", ln=False, align='L')
pdf.cell(0, 10, txt=f"Forehand errors ({(forehand_counts/total_error_counts)*100:.2f}%):", ln=True, align='L')

pdf.cell(100, 10, txt=f"Deuce Return Won: {returnWonByPlayer1Percentage:.2f}%", ln=False, align='L')

pdf.cell(100, 10, txt="  Net: " + str(forehand_error_types_df.loc['Net', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Long: " + str(forehand_error_types_df.loc['Long', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Wide Right: " + str(forehand_error_types_df.loc['Wide Right', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Wide Left: " + str(forehand_error_types_df.loc['Wide Left', 'Count']), ln=True, align='L')

# Backhand errors
pdf.cell(0, 10, txt=f"Backhand errors ({(backhand_counts/total_error_counts)*100:.2f}%):", ln=True, align='L')
pdf.cell(100, 10, txt="  Net: " + str(backhand_error_types_df.loc['Net', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Long: " + str(backhand_error_types_df.loc['Long', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Wide Right: " + str(backhand_error_types_df.loc['Wide Right', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Wide Left: " + str(backhand_error_types_df.loc['Wide Left', 'Count']), ln=True, align='L')
pdf.ln(5)

# Forehand and Backhand Returns (Deuce)
pdf.set_font("Arial", size=11, style='I')
pdf.cell(100, 10, txt="Deuce Return", ln=True, align='L')
pdf.set_font("Arial", size=11)
pdf.cell(100, 10, txt="  Forehand Return:", ln=True, align='L')
pdf.cell(100, 10, txt=f"    Made: {count_deuce_forehand_made} | Error: {count_deuce_forehand_error}", ln=True, align='L')
pdf.cell(100, 10, txt="  Backhand Return:", ln=True, align='L')
pdf.cell(100, 10, txt=f"    Made: {count_deuce_backhand_made} | Error: {count_deuce_backhand_error}", ln=True, align='L')
pdf.ln(5)

# Errors Section (Net Points)
pdf.set_font("Arial", size=11, style='B')
pdf.cell(100, 10, txt="Net Points", ln=True, align='L')
pdf.ln(5)

# Total Net Points
pdf.set_font("Arial", size=11)
pdf.cell(100, 10, txt=f"Total Net Points for {first_player1Name}: {total_at_net_player1}", ln=True, align='L')
pdf.cell(100, 10, txt=f"Percentage of Net Points for {first_player1Name}: {percentage_at_net_player1:.2f}%", ln=True, align='L')

# Net Points won by the player
pdf.cell(100, 10, txt=f"Total Net Points won by {first_player1Name}: {at_net_player1_and_won_by_player1}", ln=True, align='L')
pdf.cell(100, 10, txt=f"Percentage of Net Points won by {first_player1Name}: {percentage_at_net_player1_and_won_by_player1:.2f}%", ln=True, align='L')
pdf.ln(5)

# Save PDF dynamically based on players' names
pdf_name = f"{first_player1Name}_vs_{opponent_name}_match_report.pdf"
pdf.output(f"{pdf_name}")

print(f"PDF generated: {pdf_name}")

PDF generated: UCLA_vs_Opp_match_report.pdf

# CONDENSED REPORT NEEDS UPDATE

### Using FPDF package

In [137]:
from fpdf import FPDF
import pandas as pd

# Header
first_player1Name = "UCLA"  # Replace this with the actual player name
opponent_name = "Opp"  # Opponent name input, user can modify it here

# Create PDF
pdf = FPDF()
pdf.add_page()

# Title
pdf.set_font("Arial", size=14, style='B')
pdf.cell(200, 10, txt="Match Report Summary", ln=True, align='C')
pdf.ln(5)

# Match players and score
pdf.set_font("Arial", size=12)
pdf.cell(200, 10, txt=f"{first_player1Name} (w) v. {opponent_name} (Opp)", ln=True, align='C')
pdf.cell(200, 10, txt="0-0 0-0 0-0", ln=True, align='C')
pdf.ln(10)

# Returns Section
pdf.set_font("Arial", size=11, style='B')
pdf.cell(100, 10, txt="Returns", ln=False, align='L')
pdf.set_font("Arial", size=11, style='B')
pdf.cell(0, 10, txt="Errors", ln=True, align='L')
pdf.ln(5)

# Total Return Stats
pdf.set_font("Arial", size=11)
pdf.cell(100, 10, txt=f"Total Return Made: {returnMadePercentage:.2f}% ({total_return})", ln=False, align='L')
pdf.cell(0, 10, txt=f"Total errors: {total_error_counts}", ln=True, align='L')

pdf.cell(100, 10, txt=f"Total Return Won: {returnWonByPlayer1Percentage:.2f}% ({returnWonByPlayer1})", ln=True, align='L')

# Deuce and Ad Return Stats
pdf.cell(100, 10, txt=f"Deuce Return Made: {deuceReturnMadePercentage:.2f}%", ln=False, align='L')
pdf.cell(0, 10, txt=f"Forehand errors ({(forehand_counts/total_error_counts)*100:.2f}%):", ln=True, align='L')

pdf.cell(100, 10, txt=f"Deuce Return Won: {returnWonByPlayer1Percentage:.2f}%", ln=False, align='L')

pdf.cell(100, 10, txt="  Net: " + str(forehand_error_types_df.loc['Net', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Long: " + str(forehand_error_types_df.loc['Long', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Wide Right: " + str(forehand_error_types_df.loc['Wide Right', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Wide Left: " + str(forehand_error_types_df.loc['Wide Left', 'Count']), ln=True, align='L')

# Backhand errors
pdf.cell(0, 10, txt=f"Backhand errors ({(backhand_counts/total_error_counts)*100:.2f}%):", ln=True, align='L')
pdf.cell(100, 10, txt="  Net: " + str(backhand_error_types_df.loc['Net', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Long: " + str(backhand_error_types_df.loc['Long', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Wide Right: " + str(backhand_error_types_df.loc['Wide Right', 'Count']), ln=True, align='L')
pdf.cell(100, 10, txt="  Wide Left: " + str(backhand_error_types_df.loc['Wide Left', 'Count']), ln=True, align='L')
pdf.ln(5)

# Forehand and Backhand Returns (Deuce)
pdf.set_font("Arial", size=11, style='I')
pdf.cell(100, 10, txt="Deuce Return", ln=True, align='L')
pdf.set_font("Arial", size=11)
pdf.cell(100, 10, txt="  Forehand Return:", ln=True, align='L')
pdf.cell(100, 10, txt=f"    Made: {count_deuce_forehand_made} | Error: {count_deuce_forehand_error}", ln=True, align='L')
pdf.cell(100, 10, txt="  Backhand Return:", ln=True, align='L')
pdf.cell(100, 10, txt=f"    Made: {count_deuce_backhand_made} | Error: {count_deuce_backhand_error}", ln=True, align='L')
pdf.ln(5)

# Errors Section (Net Points)
pdf.set_font("Arial", size=11, style='B')
pdf.cell(100, 10, txt="Net Points", ln=True, align='L')
pdf.ln(5)

# Total Net Points
pdf.set_font("Arial", size=11)
pdf.cell(100, 10, txt=f"Total Net Points for {first_player1Name}: {total_at_net_player1}", ln=True, align='L')
pdf.cell(100, 10, txt=f"Percentage of Net Points for {first_player1Name}: {percentage_at_net_player1:.2f}%", ln=True, align='L')

# Net Points won by the player
pdf.cell(100, 10, txt=f"Total Net Points won by {first_player1Name}: {at_net_player1_and_won_by_player1}", ln=True, align='L')
pdf.cell(100, 10, txt=f"Percentage of Net Points won by {first_player1Name}: {percentage_at_net_player1_and_won_by_player1:.2f}%", ln=True, align='L')
pdf.ln(5)

# Save PDF dynamically based on players' names
pdf_name = f"{first_player1Name}_vs_{opponent_name}_match_report.pdf"
pdf.output(f"{pdf_name}")

print(f"PDF generated: {pdf_name}")

PDF generated: UCLA_vs_Opp_match_report.pdf

In [138]:
# Better formatting but missing some values

from fpdf import FPDF
import pandas as pd

# Variables that will be passed into the code (Replace these with your actual dataset values)
first_player1Name = "UCLA"  # Replace with actual player name
opponent_name = "Opp"  # Opponent name input, user can modify it here

# Create PDF
pdf = FPDF()
pdf.add_page()

# Title
pdf.set_font("Arial", size=14, style='B')
pdf.cell(200, 10, txt="Match Report Summary", ln=True, align='C')
pdf.ln(5)

# Match players and score
pdf.set_font("Arial", size=12)
pdf.cell(200, 10, txt=f"{first_player1Name} (w) v. {opponent_name} (Opp)", ln=True, align='C')
pdf.cell(200, 10, txt="0-0 0-0 0-0", ln=True, align='C')
pdf.ln(10)

# Set up column widths and heights for alignment
column_width = 90
line_height = 7

# Left Side - Returns
pdf.set_font("Arial", size=12, style='B')
pdf.cell(column_width, line_height, txt="Returns", ln=False, align='L')
pdf.set_font("Arial", size=12, style='B')
pdf.cell(column_width, line_height, txt="Errors", ln=True, align='L')
pdf.ln(5)

# Returns Section (Left Side)
pdf.set_font("Arial", size=11)

# Total Return Stats
pdf.cell(column_width, line_height, txt=f"Total Return Made: {returnMadePercentage:.2f}% ({total_return})", ln=False, align='L')
pdf.cell(column_width, line_height, txt=f"Total: {total_error_counts}", ln=True, align='L')

pdf.cell(column_width, line_height, txt=f"Total Return Won: {returnWonByPlayer1Percentage:.2f}% ({returnWonByPlayer1})", ln=False, align='L')
pdf.cell(column_width, line_height, txt=f"Forehand errors ({(forehand_counts/total_error_counts)*100:.2f}%):", ln=True, align='L')

# Deuce and Ad Return Stats
pdf.cell(column_width, line_height, txt=f"Deuce Return Made: {deuceReturnMadePercentage:.2f}% ({count_deuce_forehand_made})", ln=False, align='L')
pdf.cell(column_width, line_height, txt=f"Net: {forehand_error_types_df.loc['Net', 'Count']}", ln=True, align='L')

pdf.cell(column_width, line_height, txt=f"Deuce Return Won: {returnWonByPlayer1Percentage:.2f}% ({count_deuce_forehand_error})", ln=False, align='L')
pdf.cell(column_width, line_height, txt=f"Long: {forehand_error_types_df.loc['Long', 'Count']}", ln=True, align='L')

pdf.cell(column_width, line_height, txt="  Forehand Return:", ln=False, align='L')
pdf.cell(column_width, line_height, txt=f"Wide Right: {forehand_error_types_df.loc['Wide Right', 'Count']}", ln=True, align='L')
pdf.cell(column_width, line_height, txt="    Made:   | Error:", ln=False, align='L')
pdf.cell(column_width, line_height, txt=f"Backhand errors ({(backhand_counts/total_error_counts)*100:.2f}%):", ln=True, align='L')

pdf.cell(column_width, line_height, txt="  Backhand Return:", ln=False, align='L')
pdf.cell(column_width, line_height, txt="Net: " + str(backhand_error_types_df.loc['Net', 'Count']), ln=True, align='L')
pdf.cell(column_width, line_height, txt="    Made:   | Error:", ln=False, align='L')
pdf.cell(column_width, line_height, txt="Crosscourt: ", ln=True, align='L')

pdf.cell(column_width, line_height, txt=f"Ad Return Made: {adReturnMadePercentage:.2f}% ({count_deuce_backhand_made})", ln=False, align='L')
pdf.cell(column_width, line_height, txt="Down the Line: ", ln=True, align='L')

pdf.cell(column_width, line_height, txt=f"Ad Return Won: {returnWonByPlayer1Percentage:.2f}% ({count_deuce_backhand_error})", ln=False, align='L')
pdf.cell(column_width, line_height, txt="Long: ", ln=True, align='L')

pdf.cell(column_width, line_height, txt="  Forehand Return:", ln=False, align='L')
pdf.cell(column_width, line_height, txt="Crosscourt: ", ln=True, align='L')
pdf.cell(column_width, line_height, txt="    Made:   | Error:", ln=False, align='L')
pdf.cell(column_width, line_height, txt="Down the Line: ", ln=True, align='L')

pdf.cell(column_width, line_height, txt="  Backhand Return:", ln=False, align='L')
pdf.cell(column_width, line_height, txt="Wide Right: ", ln=True, align='L')
pdf.cell(column_width, line_height, txt="    Made:   | Error:", ln=False, align='L')
pdf.cell(column_width, line_height, txt="Wide Left: ", ln=True, align='L')

pdf.cell(column_width, line_height, txt="Down the Line: ", ln=False, align='L')
pdf.ln(10)

# Right Side - Errors
pdf.set_font("Arial", size=11)
pdf.cell(column_width, line_height, txt="Net Points", ln=False, align='L')
pdf.ln(5)

# Total Net Points
pdf.cell(column_width, line_height, txt=f"Total Net Points for {first_player1Name}: {total_at_net_player1}", ln=False, align='L')
pdf.cell(column_width, line_height, txt=f"Percentage of Net Points for {first_player1Name}: {percentage_at_net_player1:.2f}%", ln=True, align='L')

pdf.cell(column_width, line_height, txt=f"Total Net Points won by {first_player1Name}: {at_net_player1_and_won_by_player1}", ln=False, align='L')
pdf.cell(column_width, line_height, txt=f"Percentage of Net Points won by {first_player1Name}: {percentage_at_net_player1_and_won_by_player1:.2f}%", ln=True, align='L')
pdf.ln(5)

# Save PDF based on players' names
pdf_name = f"{first_player1Name}_vs_{opponent_name}_match_report.pdf"
pdf.output(f"{pdf_name}")

print(f"PDF generated: {pdf_name}")

PDF generated: UCLA_vs_Opp_match_report.pdf